openapi: 3.2.0
info:
  version: 1.0.0
  title: Pipelines Identify API
  description: '# Overview

    In general, you''ll consume this API through one of our source libraries—our JavaScript client library or any of our server packages.'
servers:
- url: https://cdp.customer.io/v1
  description: The base URL for all Data Pipelines calls in our United States (US) region.
- url: https://cdp-eu.customer.io/v1
  description: The base URL for all Data Pipelines calls in our European Union (EU) region.
tags:
- name: Identify
paths:
  /identify:
    post:
      operationId: identify
      summary: Add and Update People
      description: 'Identifies a person and assigns `traits` to them.


        In most cases, you''ll identify people with a `userId` or an `anonymousId`. But when you use Customer.io as a destination, you can pass an empty `userId` or `anonymousId`, and identify people by their `email` trait.


        **When you use our libraries, you''ll typically only provide an ID and `traits`. The libraries fill in the rest of the payload automatically.**'
      servers:
      - url: https://cdp.customer.io/v1
        description: This is a Data Pipeline API.
      security:
      - Basic-Auth: []
      parameters:
      - name: X-Strict-Mode
        in: header
        description: 'When set to `1`, enables strict validation that returns proper HTTP error codes (400/401) for validation failures. When not set or set to any other value, the API operates in permissive mode, logging errors but returning HTTP 200. [Learn more](/integrations/api/track-vs-cdp-api#pipelines-strict-mode)

          '
        required: false
        schema:
          type: string
          enum:
          - '1'
        example: '1'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/identify'
      x-codeSamples:
      - lang: json
        label: JSON
        source: "{\n  \"type\": \"identify\",\n  \"traits\": {\n    \"name\": \"Cool Person\",\n    \"email\": \"cool.person@example.com\",\n    \"likes_baseball\": true,\n    \"games_attended\": 5\n  },\n  \"userId\": \"97980cfea0067\"\n}"
      - label: Curl
        lang: shell
        source: "curl --request POST \\\n  --url https://cdp.customer.io/v1/identify \\\n  -u api_key: \\\n  -H 'content-type: application/json' \\\n  --data-raw '\n  {\n      \"userId\": \"97980cfea0067\",\n      \"traits\": {\n          \"name\": \"Cool Person\",\n          \"email\": \"cool.person@example.com\",\n          \"likes_baseball\": true,\n          \"games_attended\": 5\n      }\n  }'\n"
      - label: JavaScript (SDK)
        lang: javascript
        source: "analytics.identify(\"97980cfea0067\", {\n  name: \"Cool Person\",\n  email: \"cool.person@example.com\",\n  likes_baseball: true,\n  games_attended: 5\n});\n"
      - label: Node.js (SDK)
        lang: javascript
        source: "analytics.identify({\n  userId: '019mr8mf4r',\n  traits: {\n    name: 'Cool Person',\n    email: 'cool.person@example.com',\n    plan: 'Enterprise',\n    friends: 42\n  }\n});\n"
      - label: Python (SDK)
        lang: python
        source: "analytics.identify('f4ca124298', {\n  email: 'cool.person@example.com'\n  first_name: 'cool',\n  last_name: 'person'\n})\n"
      - label: Go (SDK)
        lang: go
        source: "client.Enqueue(analytics.Identify{\n  UserId: \"019mr8mf4r\",\n  Traits: analytics.NewTraits().\n    SetName(\"Cool Person\").\n    SetEmail(\"cool.person@example.com\").\n    Set(\"plan\", \"Enterprise\").\n    Set(\"fav_number\", 42),\n})\n"
      responses:
        '200':
          $ref: '#/components/responses/200'
      tags:
      - Identify
components:
  schemas:
    context_page:
      x-scalar-ignore: true
      type: object
      description: Contains information about the current page in the browser. This is automatically collected by our JavaScript source.
      properties:
        name:
          type: string
          description: 'The name of the page. Reserved for future use.

            '
        path:
          type: string
          description: The path portion of the page's URL. Equivalent to the canonical `path` which defaults to `location.pathname` from the DOM API.
        referrer:
          type: string
          description: The previous page's full URL. Equivalent to `document.referrer` from the DOM API.
        search:
          type: string
          description: The query string portion of the page's URL. Equivalent to `location.search` from the DOM API.
        title:
          type: string
          description: The page's title. Equivalent to `document.title` from the DOM API.
        url:
          type: string
          description: A page's full URL. We first look for the canonical URL. If the canonical URL is not provided, we'll use `location.href` from the DOM API.
        keywords:
          type: array
          description: A list/array of keywords describing the page's content. The keywords are likely the same as, or similar to, the keywords you would find in an HTML `meta` tag for SEO purposes. This property is mainly used by content publishers that rely heavily on pageview tracking. This isn't automatically collected.
          items:
            type: string
    all_common_fields:
      x-scalar-ignore: true
      allOf:
      - $ref: '#/components/schemas/common_fields'
      - type: object
        properties:
          context:
            description: A dictionary of context about a source call/event, like the user’s IP address or locale. Context is automatically collected by our source libraries.
            oneOf:
            - $ref: '#/components/schemas/context_non_mobile'
            - $ref: '#/components/schemas/context_mobile'
    userId:
      x-scalar-ignore: true
      type: string
      description: The unique identifier for a person. This value should be unique across systems, so you recognize the same person in your sources _and_ destinations.
      example: 241ma8mf4a
    identify:
      x-scalar-ignore: true
      oneOf:
      - title: Known User
        allOf:
        - type: object
          required:
          - userId
          properties:
            userId:
              $ref: '#/components/schemas/userId'
            anonymousId:
              $ref: '#/components/schemas/anonymousId'
            type:
              type: string
              enum:
              - identify
              description: The event type. This is set automatically by the request method/endpoint.
            traits:
              type: object
              description: Additional properties that you know about a person. We've listed some common/reserved traits below, but you can add any traits that you might use in another system.
              properties:
                email:
                  type: string
                  description: A person's email address. In some cases, you can pass an empty `userId` and we'll use this value to identify a person.
                createdAt:
                  type: string
                  format: date-time
                  description: We recommend that you pass date-time values as ISO 8601 date-time strings. We convert this value to fit destinations where appropriate.
                cio_subscription_preferences:
                  description: Stores your audience's subscription preferences if you enable our [subscription center](/journeys/channels/subscriptions/center/) feature. These items are set automatically when people use the unsubscribe link in your messages, but you can set preferences outside the subscription flow. To update select topic preferences while preserving those set for other topics, use JSON dot notation `"cio_subscription_preferences.topics.topic_<topic ID>":<boolean>`. To update channel preferences, use `"cio_subscription_preferences.channels.<channel>":<boolean>`.
                  type: object
                  properties:
                    topics:
                      type: object
                      description: Contains active topics in your workspace, named `topic_<id>`.
                      additionalProperties:
                        x-additionalPropertiesName: topic_<id>
                        description: Each property is a boolean named `topic_<id>`. Topic `id` values begin at `1` and increment for each new topic. You can find your topic ids in [Workspace Settings](https://fly.customer.io/workspaces/last/settings/subscription_center/topics) or by querying our [App API](https://customer.io/api/app/#operation/getTopics). For each boolean, `true` means that a person is subscribed to the topic; false means they are unsubscribed. An empty or missing value reverts to the default preference for the topic (opt-in or opt-out).
                        type: boolean
                      example:
                        topic_1: true
                        topic_2: false
                    channels:
                      type: object
                      description: Contains channel subscription preferences. Keys are channel type names.
                      additionalProperties:
                        x-additionalPropertiesName: channel_type
                        description: 'Each property is a boolean keyed by the channel type name: `email`, `sms`, `push`, `in_app`, `whatsapp`, `slack`, `line`, or `inbox`. `true` means a person is subscribed to the channel; `false` means they are unsubscribed. Both the topic and channel must be subscribed for a message to send.'
                        type: boolean
                      example:
                        email: true
                        push: false
                unsubscribed:
                  description: If `true`, a person is unsubscribed from emails, SMS, WhatsApp, and push notifications (not in-app messages). Any casing of "true" (i.e. TRUE, true, tRUe, etc.), 1, or "1" means the person is unsubscribed. If `false`, absent, or any value not considered "true", a person is globally subscribed, or if you enabled a subscription center, a person will receive messages based on their `cio_subscription_preferences`.
                  type: boolean
              additionalProperties:
                x-additionalPropertiesName: Additional Traits
                description: Traits that you want to set on a person. These can take any JSON shape.
        - $ref: '#/components/schemas/all_common_fields'
      - title: Anonymous User
        allOf:
        - type: object
          required:
          - anonymousId
          properties:
            anonymousId:
              $ref: '#/components/schemas/anonymousId'
            type:
              type: string
              enum:
              - identify
              description: The event type. This is set automatically by the request method/endpoint.
            traits:
              type: object
              description: Additional properties that you know about a person. We've listed some common/reserved traits below, but you can add any traits that you might use in another system.
              properties:
                email:
                  type: string
                  description: A person's email address. In some cases, you can pass an empty `userId` and we'll use this value to identify a person.
                createdAt:
                  type: string
                  format: date-time
                  description: We recommend that you pass date-time values as ISO 8601 date-time strings. We convert this value to fit destinations where appropriate.
              additionalProperties:
                x-additionalPropertiesName: Additional Traits
                description: Traits that you want to set on a person. These can take any JSON shape.
        - $ref: '#/components/schemas/all_common_fields'
      example:
        type: identify
        traits:
          name: Cool Person
          email: cool.person@example.com
          likes_baseball: true
          games_attended: 5
        userId: 97980cfea0067
    context_non_mobile:
      x-scalar-ignore: true
      description: A dictionary of context about a source call/event, like the user’s IP address or locale. Context is automatically collected by our source libraries.
      title: Non-mobile
      allOf:
      - $ref: '#/components/schemas/context_common'
      - type: object
        properties:
          campaign:
            type: object
            description: 'Contains information about the campaign that resulted in the API call, gathered from, or mapping to, UTM parameters (e.g. `utm_source`).

              '
            properties:
              name:
                type: string
                description: The campaign name.
              source:
                type: string
                description: The source of traffic—like the name of your email list, Facebook, Google, etc.
              medium:
                type: string
                description: The type of traffic a person/event originates from, like `email`, or `referral`.
              term:
                type: string
                description: The keyword term(s) a user came from.
              content:
                type: string
            additionalProperties:
              type: string
              x-additionalPropertiesName: Additional UTM Parameters
          page:
            $ref: '#/components/schemas/context_page'
    context_mobile:
      x-scalar-ignore: true
      description: A dictionary of context about a source call/event, like the user’s IP address or locale. Context is automatically collected by our source libraries.
      title: Mobile
      allOf:
      - $ref: '#/components/schemas/context_common'
      - type: object
        description: Fields included in events from mobile libraries.
        properties:
          app:
            type: object
            description: 'Contains information about the mobile app the event originated from, automatically collected by our mobile libraries when possible.

              '
            properties:
              name:
                type: string
                description: The name of the app.
              version:
                type: string
                description: The version of the app the call originated from.
              build:
                type: string
                description: The specific build number in the app.
              namespace:
                type: string
                description: The app's namespace.
          device:
            type: object
            description: 'Contains information about the device the event originated from.

              '
            properties:
              id:
                type: string
                description: The device ID.
              advertisingId:
                type: string
                description: The advertising ID is a unique, anonymous ID for advertising.
              manufacturer:
                type: string
                description: The device manufacturer.
              model:
                type: string
                description: The device model.
              name:
                type: string
                description: The device name.
              type:
                type: string
                description: The device type—android, iOS, etc.
                enum:
                - android
                - ios
              version:
                type: string
                description: The firmware version for the device.
          network:
            type: object
            description: Information about the current network connection, containing `bluetooth`, `carrier`, `cellular`, and `wifi`. If the `context.network.cellular` and `context.network.wifi` fields are empty, then the user is offline.
            properties:
              bluetooth:
                type: boolean
                description: Lets you know if bluetooth is enabled on a device.
              carrier:
                type: string
                description: The cellular carrier the phone uses.
              cellular:
                type: boolean
                description: Indicates whether the device's cellular connection is enabled or not.
              wifi:
                type: boolean
                description: Indicates whether a device's wifi connection is enabled or not.
          os:
            type: object
            description: 'Dictionary of information about the operating system, containing `name` and `version`.

              '
            properties:
              name:
                type: string
                description: The operating system running on the device.
              version:
                type: string
                description: The version of the OS running on the device.
    context_common:
      x-scalar-ignore: true
      type: object
      description: Contains contextual information about the event.
      properties:
        active:
          type: boolean
          description: 'Whether a user is active.


            This is usually used when you send an .identify() call to update the traits independently of when you''ve “last seen” a user.

            '
        ip:
          type: string
          description: The user's IP address. This isn't captured by our libraries, but by our servers when we receive client-side events (like from our JavaScript source).
        locale:
          type: string
          description: The locale string for the current user, e.g. `en-US`.
        userAgent:
          type: string
          description: The user agent of the device making the request
        channel:
          type: string
          enum:
          - browser
          - server
          - mobile
          description: The channel the event originated from.
    integrations:
      x-scalar-ignore: true
      type: object
      description: 'Contains a list of booleans indicating the integrations that are enabled (true) or disabled (false). By default, all integrations are enabled (returning an empty object). Set `"All": false` to reverse this behavior.

        '
      additionalProperties:
        type: boolean
        x-additionalPropertiesName: Enabled/Disabled integrations
      example:
        All: true
        Salesforce: false
    anonymousId:
      x-scalar-ignore: true
      type: string
      description: A unique substitute for a User ID in cases when you don’t have an absolutely unique identifier. Our libraries generate this value automatically to help you track people before they sign up, log in, provide their email, etc.
      example: c0e5cae6-6f04-46e4-97a8-25076e8bdc0b
    common_fields:
      x-scalar-ignore: true
      type: object
      properties:
        integrations:
          $ref: '#/components/schemas/integrations'
        messageId:
          type: string
          description: A unique identifier for a Data Pipelines call, ensuring that each individual event is unique. This is set by Customer.io
        receivedAt:
          type: string
          format: date-time
          readOnly: true
          description: The ISO-8601 timestamp when Data Pipelines receives an event.
        sentAt:
          type: string
          format: date-time
          description: The ISO-8601 timestamp when a library sends an event to Data Pipelines.
        originalTimestamp:
          type: string
          format: date-time
          description: In general, you can use `timestamp` rather than this field if you want to back-date events. This is the timestamp on the client device you invoke a call or the timestamp value you manually passed in a server-side library call.
        timestamp:
          type: string
          format: date-time
          description: The ISO-8601 timestamp when the event originally took place. This is mostly useful when you backfill past events. If you're not backfilling data, you can leave this field empty and we'll use the current time or server time.
        type:
          readOnly: true
          type: string
          enum:
          - identify
          - group
          - track
          - page
          - screen
          - alias
          description: The type of source event. This is implicit and set by Customer.io based on the endpoint/method you use (e.g. `identify`).
        version:
          readOnly: true
          type: number
          description: The version of the API that received the event, automatically set by Customer.io.
  responses:
    '200':
      description: A successful request returns an empty object response.
  securitySchemes:
    Basic-Auth:
      type: http
      scheme: basic
      description: 'The Data Pipelines API uses a basic authentication scheme with your API key. Because basic authorization typically expects a username and password combination, you''ll use the API Key as the username and leave the password blank—base64 encoding your credentials in the format `API_key:`.

        '
