openapi: 3.2.0
info:
  version: 1.0.0
  title: Customer.io App Exports API
  description: 'Our App API provides ways to trigger messages and retrieve information about people, campaigns, broadcasts, and more.


    # Overview


    The App API provides methods to send newsletters, transactional messages, and API-triggered broadcasts. You can create newsletters from scratch and update transactional messages and API-triggered broadcasts.


    For transactional messages and API-triggered broadcasts, your payload acts as a message "trigger" and can contain `data` that you reference in your messages using liquid—`{{trigger.<data>}}`.


    The other endpoints help you retrieve information about people, segments, campaigns, broadcasts, etc; it also lets you update campaign actions, messages, newsletter variants, etc. Aside from the [API-triggered broadcast](#triggerBroadcast) (1 per 10 seconds) and [Transactional](#sendEmail) (100 per second) endpoints, requests are limited to 10 per second.


    # Use our Postman collection


    We''ve generated a Postman collection to help you get started with our APIs.


    If you fork this collection, you might want to disable the *Watch original collection* option. We automatically update our Postman collection whenever we release changes to our documentation, even if we don''t change our APIs—which happens daily! Rather than being flooded with Postman notifications, you can check out our [Release Notes](/release-notes/) for updates to our APIs.


    **NOTE**: Postman endpoints default to our US APIs. If you''re in our European (EU) region, you''ll need to add `-eu` to the server variables (`track_api_url` and `app_api_url`).


    [<img src="https://run.pstmn.io/button.svg" alt="Run In Postman" style="width: 128px; height: 32px;">](https://god.gw.postman.com/run-collection/23697545-2931c004-e63d-4cdc-bf4b-e685ba6da42d?action=collection%2Ffork&source=rip_markdown&collection-url=entityId%3D23697545-2931c004-e63d-4cdc-bf4b-e685ba6da42d%26entityType%3Dcollection%26workspaceId%3Db886877f-fc09-475f-84fe-6221a98f4d18#?env%5BCustomer.io%20API%20Environment%5D=W3sia2V5IjoidHJhY2tfYXBpX3VybCIsInR5cGUiOiJkZWZhdWx0IiwidmFsdWUiOiJ0cmFjay5jdXN0b21lci5pbyIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiYXBwX2FwaV91cmwiLCJ0eXBlIjoiZGVmYXVsdCIsInZhbHVlIjoiYXBpLmN1c3RvbWVyLmlvIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJzaXRlX2lkIiwidHlwZSI6ImRlZmF1bHQiLCJ2YWx1ZSI6IiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiYXBpX2tleSIsInR5cGUiOiJzZWNyZXQiLCJ2YWx1ZSI6IiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiYmVhcmVyIiwidHlwZSI6ImRlZmF1bHQiLCJ2YWx1ZSI6IiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiYnJvYWRjYXN0X2lkIiwidHlwZSI6ImRlZmF1bHQiLCJ2YWx1ZSI6IiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiaW1wb3J0X2lkIiwidHlwZSI6ImRlZmF1bHQiLCJ2YWx1ZSI6IiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiZW1haWxfYWRkcmVzcyIsInR5cGUiOiJkZWZhdWx0IiwidmFsdWUiOiIiLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6InN1cHByZXNzaW9uX3R5cGUiLCJ0eXBlIjoiZGVmYXVsdCIsInZhbHVlIjoiIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJjb2xsZWN0aW9uX2lkIiwidHlwZSI6ImRlZmF1bHQiLCJ2YWx1ZSI6IiIsImVuYWJsZWQiOnRydWV9LHsia2V5Ijoic25pcHBldF9uYW1lIiwidHlwZSI6ImRlZmF1bHQiLCJ2YWx1ZSI6IiIsImVuYWJsZWQiOnRydWV9LHsia2V5Ijoid2ViaG9va19pZCIsInR5cGUiOiJkZWZhdWx0IiwidmFsdWUiOiIiLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6InNlbmRlcl9pZCIsInR5cGUiOiJkZWZhdWx0IiwidmFsdWUiOiIiLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImV4cG9ydF9pZCIsInR5cGUiOiJkZWZhdWx0IiwidmFsdWUiOiIiLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6Im1lc3NhZ2VfaWQiLCJ0eXBlIjoiZGVmYXVsdCIsInZhbHVlIjoiIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJzZWdtZW50X2lkIiwidHlwZSI6ImRlZmF1bHQiLCJ2YWx1ZSI6IiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoibmV3c2xldHRlcl9pZCIsInR5cGUiOiJkZWZhdWx0IiwidmFsdWUiOiIiLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImNvbnRlbnRfaWQiLCJ0eXBlIjoiZGVmYXVsdCIsInZhbHVlIjoiIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJjYW1wYWlnbl9pZCIsInR5cGUiOiJkZWZhdWx0IiwidmFsdWUiOiIiLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImFjdGlvbl9pZCIsInR5cGUiOiJkZWZhdWx0IiwidmFsdWUiOiIiLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImN1c3RvbWVyX2lkIiwidHlwZSI6ImRlZmF1bHQiLCJ2YWx1ZSI6IiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoidHJhbnNhY3Rpb25hbF9pZCIsInR5cGUiOiJkZWZhdWx0IiwidmFsdWUiOiIiLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6InRyaWdnZXJfaWQiLCJ0eXBlIjoiZGVmYXVsdCIsInZhbHVlIjoiIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJmb3JtX2lkIiwidHlwZSI6ImRlZmF1bHQiLCJ2YWx1ZSI6IiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiaWRlbnRpZmllciIsInR5cGUiOiJkZWZhdWx0IiwidmFsdWUiOiIiLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImRldmljZV9pZCIsInR5cGUiOiJkZWZhdWx0IiwidmFsdWUiOiIiLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImRlbGl2ZXJ5X2lkIiwidHlwZSI6ImRlZmF1bHQiLCJ2YWx1ZSI6IiIsImVuYWJsZWQiOnRydWV9XQ==)


    # Server addresses: US and EU


    Customer.io hosts services in the United States (US) and European Union. Select the appropriate server address for your region.


    | Region | Server Address |

    | :-- | :-- |

    | US | https://api.customer.io |

    | EU | https://api-eu.customer.io |


    # Authentication


    All requests to the Customer.io App API use an [App API Key](#App-API-Key).


    To authenticate, provide your key as a Bearer token in a HTTP Authorization header. You can create and manage your API keys—including keys with different scopes—in [your account settings page](https://fly.customer.io/settings/api_credentials?keyType=app). Each operation on this page references the authorization header it requires.


    # Rate Limits


    Most endpoints on this page are limited to 10 requests per second. The exceptions are:

    * The [transactional email](#operation/sendEmail) endpoint is limited to 100 requests per second.

    * The [API-triggered broadcast endpoint](#operation/triggerBroadcast) is limited to 1 request every 10 seconds.


    **Rate limits are subject to change. We may adjust these thresholds to ensure stable performance for all customers.**

    '
servers:
- url: https://api.customer.io
  description: The base URL for broadcasts, transactional messages, and data-retrieval APIs. These endpoints use bearer authorization, and require a [token that you generate in the UI](https://fly.customer.io/settings/api_credentials?keyType=app).
- url: https://api-eu.customer.io
  description: The base URL for broadcasts, transactional messages, and data-retrieval APIs (EU region). These endpoints use bearer authorization, and require a [token that you generate in the UI](https://fly.customer.io/settings/api_credentials?keyType=app).
tags:
- name: Exports
  description: 'Export information about people, deliveries, etc. You can also download existing exports from these endpoints.

    '
paths:
  /v1/exports:
    servers:
    - url: https://api.customer.io
      description: This API uses bearer authorization, requiring a [token that you generate in the UI](https://fly.customer.io/settings/api_credentials?keyType=app).
    get:
      summary: List exports
      operationId: listExports
      security:
      - Bearer-Auth: []
      description: Return a list of your exports. Exports are point-in-time people or campaign metrics.
      tags:
      - Exports
      responses:
        '200':
          description: Returns an array of exports.
          content:
            application/json:
              schema:
                type: object
                properties:
                  exports:
                    type: array
                    items:
                      x-scalar-ignore: true
                      type: object
                      description: Metadata about an export.
                      properties:
                        id:
                          x-scalar-ignore: true
                          type: integer
                          description: The identifier for the export.
                          example: 110
                        user_id:
                          type: integer
                          description: The user who created the export.
                        user_email:
                          type: string
                          description: The email of the user who created the export.
                        total:
                          type: integer
                          description: The number of entries in the export. Exports report 0 until done.
                        deduplicate_id:
                          x-scalar-ignore: true
                          type: string
                          readOnly: true
                          description: An identifier in the format `id:timestamp` where the id is for the object you're working with (Campaigns, Deliveries, Exports, Identities, Newsletters, Segments, and Templates), and the timestamp is the last time the object was updated.
                          example: 15:1492548073
                        type:
                          x-scalar-ignore: true
                          type: string
                          description: The type of information contained in the export.
                          enum:
                          - customers
                          - deliveries
                          example: customers
                        failed:
                          x-scalar-ignore: true
                          type: boolean
                          description: If true, the export was unsuccessful.
                          example: false
                        description:
                          x-scalar-ignore: true
                          type: string
                          description: A description of the export.
                          example: Customers with segment filters—in Purchased Flowers
                        downloads:
                          x-scalar-ignore: true
                          type: integer
                          description: Counts the total number of times the export has been downloaded.
                          example: 2
                        created_at:
                          x-scalar-ignore: true
                          type: integer
                          format: unix timestamp
                          description: The date time when the referenced ID was created.
                          example: 1552341937
                          readOnly: true
                        updated_at:
                          x-scalar-ignore: true
                          type: integer
                          format: unix timestamp
                          description: The date time when the referenced ID was last updated.
                          example: 1552341937
                          readOnly: true
                        status:
                          type: string
                          enum:
                          - done
                          - pending
                          - failed
                          description: The state of your export where `done` indicates an export that you can download, `pending`, indicates that your export is not ready to download, and `failed` indicates an export that has failed and will not be downloadable.
                      example:
                        id: 110
                        user_id: 0
                        user_email: person@email.com
                        total: 1234
                        deduplicate_id: 110:1530296738
                        type: customers
                        failed: false
                        status: done
                        description: Customers with segment filters—in \Purchased Flowers\
                        downloads: 2
                        created_at: 1530296738
                        updated_at: 1530296738
        '429':
          description: Your request is over the 10-per-second limit.
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --url https://api.customer.io/v1/exports"
      - lang: Node + Native
        source: "const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"api.customer.io\",\n  \"port\": null,\n  \"path\": \"/v1/exports\",\n  \"headers\": {}\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
      - lang: Ruby + Native
        source: 'require ''uri''

          require ''net/http''

          require ''openssl''


          url = URI("https://api.customer.io/v1/exports")


          http = Net::HTTP.new(url.host, url.port)

          http.use_ssl = true

          http.verify_mode = OpenSSL::SSL::VERIFY_NONE


          request = Net::HTTP::Get.new(url)


          response = http.request(request)

          puts response.read_body'
      - lang: Python + Python3
        source: 'import http.client


          conn = http.client.HTTPSConnection("api.customer.io")


          conn.request("GET", "/v1/exports")


          res = conn.getresponse()

          data = res.read()


          print(data.decode("utf-8"))'
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.customer.io/v1/exports\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
  /v1/exports/{export_id}:
    servers:
    - url: https://api.customer.io
      description: This API uses bearer authorization, requiring a [token that you generate in the UI](https://fly.customer.io/settings/api_credentials?keyType=app).
    parameters:
    - name: export_id
      in: path
      required: true
      description: The export_id you want to access.
      schema:
        type: integer
    get:
      summary: Get an export
      operationId: getExport
      security:
      - Bearer-Auth: []
      description: Return information about a specific export.
      tags:
      - Exports
      responses:
        '200':
          description: Returns an export.
          content:
            application/json:
              schema:
                type: object
                properties:
                  export:
                    x-scalar-ignore: true
                    type: object
                    description: Metadata about an export.
                    properties:
                      id:
                        x-scalar-ignore: true
                        type: integer
                        description: The identifier for the export.
                        example: 110
                      user_id:
                        type: integer
                        description: The user who created the export.
                      user_email:
                        type: string
                        description: The email of the user who created the export.
                      total:
                        type: integer
                        description: The number of entries in the export. Exports report 0 until done.
                      deduplicate_id:
                        x-scalar-ignore: true
                        type: string
                        readOnly: true
                        description: An identifier in the format `id:timestamp` where the id is for the object you're working with (Campaigns, Deliveries, Exports, Identities, Newsletters, Segments, and Templates), and the timestamp is the last time the object was updated.
                        example: 15:1492548073
                      type:
                        x-scalar-ignore: true
                        type: string
                        description: The type of information contained in the export.
                        enum:
                        - customers
                        - deliveries
                        example: customers
                      failed:
                        x-scalar-ignore: true
                        type: boolean
                        description: If true, the export was unsuccessful.
                        example: false
                      description:
                        x-scalar-ignore: true
                        type: string
                        description: A description of the export.
                        example: Customers with segment filters—in Purchased Flowers
                      downloads:
                        x-scalar-ignore: true
                        type: integer
                        description: Counts the total number of times the export has been downloaded.
                        example: 2
                      created_at:
                        x-scalar-ignore: true
                        type: integer
                        format: unix timestamp
                        description: The date time when the referenced ID was created.
                        example: 1552341937
                        readOnly: true
                      updated_at:
                        x-scalar-ignore: true
                        type: integer
                        format: unix timestamp
                        description: The date time when the referenced ID was last updated.
                        example: 1552341937
                        readOnly: true
                      status:
                        type: string
                        enum:
                        - done
                        - pending
                        - failed
                        description: The state of your export where `done` indicates an export that you can download, `pending`, indicates that your export is not ready to download, and `failed` indicates an export that has failed and will not be downloadable.
                    example:
                      id: 110
                      user_id: 0
                      user_email: person@email.com
                      total: 1234
                      deduplicate_id: 110:1530296738
                      type: customers
                      failed: false
                      status: done
                      description: Customers with segment filters—in \Purchased Flowers\
                      downloads: 2
                      created_at: 1530296738
                      updated_at: 1530296738
        '404':
          description: The export ID does not exist.
        '429':
          description: Your request is over the 10-per-second limit.
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --url https://api.customer.io/v1/exports/{export_id}"
      - lang: Node + Native
        source: "const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"api.customer.io\",\n  \"port\": null,\n  \"path\": \"/v1/exports/%7Bexport_id%7D\",\n  \"headers\": {}\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
      - lang: Ruby + Native
        source: 'require ''uri''

          require ''net/http''

          require ''openssl''


          url = URI("https://api.customer.io/v1/exports/%7Bexport_id%7D")


          http = Net::HTTP.new(url.host, url.port)

          http.use_ssl = true

          http.verify_mode = OpenSSL::SSL::VERIFY_NONE


          request = Net::HTTP::Get.new(url)


          response = http.request(request)

          puts response.read_body'
      - lang: Python + Python3
        source: 'import http.client


          conn = http.client.HTTPSConnection("api.customer.io")


          conn.request("GET", "/v1/exports/%7Bexport_id%7D")


          res = conn.getresponse()

          data = res.read()


          print(data.decode("utf-8"))'
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.customer.io/v1/exports/%7Bexport_id%7D\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
  /v1/exports/{export_id}/download:
    servers:
    - url: https://api.customer.io
      description: This API uses bearer authorization, requiring a [token that you generate in the UI](https://fly.customer.io/settings/api_credentials?keyType=app).
    parameters:
    - name: export_id
      in: path
      required: true
      description: The export_id you want to access.
      schema:
        type: integer
    get:
      summary: Download an export
      operationId: downloadExport
      security:
      - Bearer-Auth: []
      description: This endpoint returns a signed link to download an export. The link expires after 15 minutes.
      tags:
      - Exports
      responses:
        '200':
          description: Returns a link to an export.
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: url
                    description: A link to download your export. Expires after 15 minutes.
        '404':
          description: The export ID does not exist.
        '429':
          description: Your request is over the 10-per-second limit.
      x-codeSamples:
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --url https://api.customer.io/v1/exports/{export_id}/download"
      - lang: Node + Native
        source: "const http = require(\"https\");\n\nconst options = {\n  \"method\": \"GET\",\n  \"hostname\": \"api.customer.io\",\n  \"port\": null,\n  \"path\": \"/v1/exports/%7Bexport_id%7D/download\",\n  \"headers\": {}\n};\n\nconst req = http.request(options, function (res) {\n  const chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    const body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
      - lang: Ruby + Native
        source: 'require ''uri''

          require ''net/http''

          require ''openssl''


          url = URI("https://api.customer.io/v1/exports/%7Bexport_id%7D/download")


          http = Net::HTTP.new(url.host, url.port)

          http.use_ssl = true

          http.verify_mode = OpenSSL::SSL::VERIFY_NONE


          request = Net::HTTP::Get.new(url)


          response = http.request(request)

          puts response.read_body'
      - lang: Python + Python3
        source: 'import http.client


          conn = http.client.HTTPSConnection("api.customer.io")


          conn.request("GET", "/v1/exports/%7Bexport_id%7D/download")


          res = conn.getresponse()

          data = res.read()


          print(data.decode("utf-8"))'
      - lang: Go + Native
        source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.customer.io/v1/exports/%7Bexport_id%7D/download\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
  /v1/exports/customers:
    servers:
    - url: https://api.customer.io
      description: This API uses bearer authorization, requiring a [token that you generate in the UI](https://fly.customer.io/settings/api_credentials?keyType=app).
    post:
      summary: Export customer data
      operationId: exportPeopleData
      security:
      - Bearer-Auth: []
      description: Provide filters and attributes describing the customers you want to export. This endpoint returns export metadata; use the `/exports/{export_id}/endpoint` to download your export.
      tags:
      - Exports
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - filters
              properties:
                filters:
                  x-scalar-ignore: true
                  title: Audience Filter
                  description: Use `and`, `or`, and `not` to combine segment and attribute conditions. The top-level object accepts one property; nest groups for complex filters.
                  oneOf:
                  - x-scalar-ignore: true
                    title: and
                    type: object
                    properties:
                      and:
                        type: array
                        description: Match *all* conditions to return results.
                        items:
                          type: object
                          properties:
                            or:
                              type: array
                              description: Returns results matching *any* conditions.
                              items:
                                x-scalar-ignore: true
                                anyOf:
                                - title: segment
                                  description: Filter for people who belong to a segment.
                                  type: object
                                  properties:
                                    segment:
                                      x-scalar-ignore: true
                                      title: segment
                                      type: object
                                      description: Provide the `id` of a segment containing people you want to search for.
                                      properties:
                                        id:
                                          type: integer
                                          description: The ID of the segment you want to return people from.
                                          example: 4
                                - title: audience
                                  type: object
                                  description: filter for people who have an attribute or an attribute value.
                                  properties:
                                    attribute:
                                      x-scalar-ignore: true
                                      title: attribute
                                      description: Filter your audience by attribute.
                                      type: object
                                      required:
                                      - field
                                      - operator
                                      properties:
                                        field:
                                          type: string
                                          description: The name of the attribute you want to filter against.
                                          example: first_name
                                        operator:
                                          type: string
                                          description: Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.
                                          enum:
                                          - eq
                                          - exists
                                        value:
                                          type: string
                                          description: The value you want to match for this attribute. You must include a value if you use the `eq` operator.
                                      example:
                                        field: unsubscribed
                                        operator: eq
                                        value: true
                            not:
                              description: Returns results if a condition is false. While and/or support an array of items, `not` supports a single filter object.
                              oneOf:
                              - title: and
                                type: object
                                properties:
                                  and:
                                    type: array
                                    description: Match *all* conditions to return results.
                                    items:
                                      x-scalar-ignore: true
                                      anyOf:
                                      - title: segment
                                        description: Filter for people who belong to a segment.
                                        type: object
                                        properties:
                                          segment:
                                            x-scalar-ignore: true
                                            title: segment
                                            type: object
                                            description: Provide the `id` of a segment containing people you want to search for.
                                            properties:
                                              id:
                                                type: integer
                                                description: The ID of the segment you want to return people from.
                                                example: 4
                                      - title: audience
                                        type: object
                                        description: filter for people who have an attribute or an attribute value.
                                        properties:
                                          attribute:
                                            x-scalar-ignore: true
                                            title: attribute
                                            description: Filter your audience by attribute.
                                            type: object
                                            required:
                                            - field
                                            - operator
                                            properties:
                                              field:
                                                type: string
                                                description: The name of the attribute you want to filter against.
                                                example: first_name
                                              operator:
                                                type: string
                                                description: Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.
                                                enum:
                                                - eq
                                                - exists
                                              value:
                                                type: string
                                                description: The value you want to match for this attribute. You must include a value if you use the `eq` operator.
                                            example:
                                              field: unsubscribed
                                              operator: eq
                                              value: true
                              - title: or
                                type: object
                                properties:
                                  or:
                                    type: array
                                    description: Match *any* condition to return results.
                                    items:
                                      x-scalar-ignore: true
                                      anyOf:
                                      - title: segment
                                        description: Filter for people who belong to a segment.
                                        type: object
                                        properties:
                                          segment:
                                            x-scalar-ignore: true
                                            title: segment
                                            type: object
                                            description: Provide the `id` of a segment containing people you want to search for.
                                            properties:
                                              id:
                                                type: integer
                                                description: The ID of the segment you want to return people from.
                                                example: 4
                                      - title: audience
                                        type: object
                                        description: filter for people who have an attribute or an attribute value.
                                        properties:
                                          attribute:
                                            x-scalar-ignore: true
                                            title: attribute
                                            description: Filter your audience by attribute.
                                            type: object
                                            required:
                                            - field
                                            - operator
                                            properties:
                                              field:
                                                type: string
                                                description: The name of the attribute you want to filter against.
                                                example: first_name
                                              operator:
                                                type: string
                                                description: Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.
                                                enum:
                                                - eq
                                                - exists
                                              value:
                                                type: string
                                                description: The value you want to match for this attribute. You must include a value if you use the `eq` operator.
                                            example:
                                              field: unsubscribed
                                              operator: eq
                                              value: true
                              - title: segment
                                type: object
                                properties:
                                  segment:
                                    x-scalar-ignore: true
                                    title: segment
                                    type: object
                                    description: Provide the `id` of a segment containing people you want to search for.
                                    properties:
                                      id:
                                        type: integer
                                        description: The ID of the segment you want to return people from.
                                        example: 4
                              - title: attribute
                                type: object
                                properties:
                                  attribute:
                                    x-scalar-ignore: true
                                    title: attribute
                                    description: Filter your audience by attribute.
                                    type: object
                                    required:
                                    - field
                                    - operator
                                    properties:
                                      field:
                                        type: string
                                        description: The name of the attribute you want to filter against.
                                        example: first_name
                                      operator:
                                        type: string
                                        description: Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.
                                        enum:
                                        - eq
                                        - exists
                                      value:
                                        type: string
                                        description: The value you want to match for this attribute. You must include a value if you use the `eq` operator.
                                    example:
                                      field: unsubscribed
                                      operator: eq
                                      value: true
                            segment:
                              x-scalar-ignore: true
                              title: segment
                              type: object
                              description: Provide the `id` of a segment containing people you want to search for.
                              properties:
                                id:
                                  type: integer
                                  description: The ID of the segment you want to return people from.
                                  example: 4
                            attribute:
                              x-scalar-ignore: true
                              title: attribute
                              description: Filter your audience by attribute.
                              type: object
                              required:
                              - field
                              - operator
                              properties:
                                field:
                                  type: string
                                  description: The name of the attribute you want to filter against.
                                  example: first_name
                                operator:
                                  type: string
                                  description: Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.
                                  enum:
                                  - eq
                                  - exists
                                value:
                                  type: string
                                  description: The value you want to match for this attribute. You must include a value if you use the `eq` operator.
                              example:
                                field: unsubscribed
                                operator: eq
                                value: true
                  - x-scalar-ignore: true
                    title: or
                    type: object
                    properties:
                      or:
                        type: array
                        description: Match *any* condition to return results.
                        items:
                          type: object
                          properties:
                            and:
                              type: array
                              description: Returns results matching *all* conditions.
                              items:
                                x-scalar-ignore: true
                                anyOf:
                                - title: segment
                                  description: Filter for people who belong to a segment.
                                  type: object
                                  properties:
                                    segment:
                                      x-scalar-ignore: true
                                      title: segment
                                      type: object
                                      description: Provide the `id` of a segment containing people you want to search for.
                                      properties:
                                        id:
                                          type: integer
                                          description: The ID of the segment you want to return people from.
                                          example: 4
                                - title: audience
                                  type: object
                                  description: filter for people who have an attribute or an attribute value.
                                  properties:
                                    attribute:
                                      x-scalar-ignore: true
                                      title: attribute
                                      description: Filter your audience by attribute.
                                      type: object
                                      required:
                                      - field
                                      - operator
                                      properties:
                                        field:
                                          type: string
                                          description: The name of the attribute you want to filter against.
                                          example: first_name
                                        operator:
                                          type: string
                                          description: Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.
                                          enum:
                                          - eq
                                          - exists
                                        value:
                                          type: string
                                          description: The value you want to match for this attribute. You must include a value if you use the `eq` operator.
                                      example:
                                        field: unsubscribed
                                        operator: eq
                                        value: true
                            not:
                              description: Returns results if a condition is false. While and/or support an array of items, `not` supports a single filter object.
                              oneOf:
                              - title: and
                                type: object
                                properties:
                                  and:
                                    type: array
                                    description: Match *all* conditions to return results.
                                    items:
                                      x-scalar-ignore: true
                                      anyOf:
                                      - title: segment
                                        description: Filter for people who belong to a segment.
                                        type: object
                                        properties:
                                          segment:
                                            x-scalar-ignore: true
                                            title: segment
                                            type: object
                                            description: Provide the `id` of a segment containing people you want to search for.
                                            properties:
                                              id:
                                                type: integer
                                                description: The ID of the segment you want to return people from.
                                                example: 4
                                      - title: audience
                                        type: object
                                        description: filter for people who have an attribute or an attribute value.
                                        properties:
                                          attribute:
                                            x-scalar-ignore: true
                                            title: attribute
                                            description: Filter your audience by attribute.
                                            type: object
                                            required:
                                            - field
                                            - operator
                                            properties:
                                              field:
                                                type: string
                                                description: The name of the attribute you want to filter against.
                                                example: first_name
                                              operator:
                                                type: string
                                                description: Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.
                                                enum:
                                                - eq
                                                - exists
                                              value:
                                                type: string
                                                description: The value you want to match for this attribute. You must include a value if you use the `eq` operator.
                                            example:
                                              field: unsubscribed
                                              operator: eq
                                              value: true
                              - title: or
                                type: object
                                properties:
                                  or:
                                    type: array
                                    description: Match *any* condition to return results.
                                    items:
                                      x-scalar-ignore: true
                                      anyOf:
                                      - title: segment
                                        description: Filter for people who belong to a segment.
                                        type: object
                                        properties:
                                          segment:
                                            x-scalar-ignore: true
                                            title: segment
                                            type: object
                                            description: Provide the `id` of a segment containing people you want to search for.
                                            properties:
                                              id:
                                                type: integer
                                                description: The ID of the segment you want to return people from.
                                                example: 4
                                      - title: audience
                                        type: object
                                        description: filter for people who have an attribute or an attribute value.
                                        properties:
                                          attribute:
                                            x-scalar-ignore: true
                                            title: attribute
                                            description: Filter your audience by attribute.
                                            type: object
                                            required:
                                            - field
                                            - operator
                                            properties:
                                              field:
                                                type: string
                                                description: The name of the attribute you want to filter against.
                                                example: first_name
                                              operator:
                                                type: string
                                                description: Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.
                                                enum:
                                                - eq
                                                - exists
                                              value:
                                                type: string
                                                description: The value you want to match for this attribute. You must include a value if you use the `eq` operator.
                                            example:
                                              field: unsubscribed
                                              operator: eq
                                              value: true
                              - title: segment
                                type: object
                                properties:
                                  segment:
                                    x-scalar-ignore: true
                                    title: segment
                                    type: object
                                    description: Provide the `id` of a segment containing people you want to search for.
                                    properties:
                                      id:
                                        type: integer
                                        description: The ID of the segment you want to return people from.
                                        example: 4
                              - title: attribute
                                type: object
                                properties:
                                  attribute:
                                    x-scalar-ignore: true
                                    title: attribute
                                    description: Filter your audience by attribute.
                                    type: object
                                    required:
                                    - field
                                    - operator
                                    properties:
                                      field:
                                        type: string
                                        description: The name of the attribute you want to filter against.
                                        example: first_name
                                      operator:
                                        type: string
                                        description: Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.
                                        enum:
                                        - eq
                                        - exists
                                      value:
                                        type: string
                                        description: The value you want to match for this attribute. You must include a value if you use the `eq` operator.
                                    example:
                                      field: unsubscribed
                                      operator: eq
                                      value: true
                            segment:
                              x-scalar-ignore: true
                              title: segment
                              type: object
                              description: Provide the `id` of a segment containing people you want to search for.
                              properties:
                                id:
                                  type: integer
                                  description: The ID of the segment you want to return people from.
                                  example: 4
                            attribute:
                              x-scalar-ignore: true
                              title: attribute
                              description: Filter your audience by attribute.
                              type: object
                              required:
                              - field
                              - operator
                              properties:
                                field:
                                  type: string
                                  description: The name of the attribute you want to filter against.
                                  example: first_name
                                operator:
                                  type: string
                                  description: Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.
                                  enum:
                                  - eq
                                  - exists
                                value:
                                  type: string
                                  description: The value you want to match for this attribute. You must include a value if you use the `eq` operator.
                              example:
                                field: unsubscribed
                                operator: eq
                                value: true
                  - x-scalar-ignore: true
                    title: not
                    description: Returns results if a condition is false. While and/or support an array of items, `not` supports a single filter object.
                    oneOf:
                    - title: and
                      type: object
                      properties:
                        and:
                          type: array
                          description: Match *all* conditions to return results.
                          items:
                            x-scalar-ignore: true
                            title: People Filter
                            type: object
                            description: Filter people with `and`, `or`, and `not` groups made from `segment` and `attribute` conditions.
                            properties:
                              and:
                                type: array
                                description: Returns results matching *all* conditions.
                                items:
                                  x-scalar-ignore: true
                                  anyOf:
                                  - title: segment
                                    description: Filter for people who belong to a segment.
                                    type: object
                                    properties:
                                      segment:
                                        x-scalar-ignore: true
                                        title: segment
                                        type: object
                                        description: Provide the `id` of a segment containing people you want to search for.
                                        properties:
                                          id:
                                            type: integer
                                            description: The ID of the segment you want to return people from.
                                            example: 4
                                  - title: audience
                                    type: object
                                    description: filter for people who have an attribute or an attribute value.
                                    properties:
                                      attribute:
                                        x-scalar-ignore: true
                                        title: attribute
                                        description: Filter your audience by attribute.
                                        type: object
                                        required:
                                        - field
                                        - operator
                                        properties:
                                          field:
                                            type: string
                                            description: The name of the attribute you want to filter against.
                                            example: first_name
                                          operator:
                                            type: string
                                            description: Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.
                                            enum:
                                            - eq
                                            - exists
                                          value:
                                            type: string
                                            description: The value you want to match for this attribute. You must include a value if you use the `eq` operator.
                                        example:
                                          field: unsubscribed
                                          operator: eq
                                          value: true
                              or:
                                type: array
                                description: Returns results matching *any* conditions.
                                items:
                                  x-scalar-ignore: true
                                  anyOf:
                                  - title: segment
                                    description: Filter for people who belong to a segment.
                                    type: object
                                    properties:
                                      segment:
                                        x-scalar-ignore: true
                                        title: segment
                                        type: object
                                        description: Provide the `id` of a segment containing people you want to search for.
                                        properties:
                                          id:
                                            type: integer
                                            description: The ID of the segment you want to return people from.
                                            example: 4
                                  - title: audience
                                    type: object
                                    description: filter for people who have an attribute or an attribute value.
                                    properties:
                                      attribute:
                                        x-scalar-ignore: true
                                        title: attribute
                                        description: Filter your audience by attribute.
                                        type: object
                                        required:
                                        - field
                                        - operator
                                        properties:
                                          field:
                                            type: string
                                            description: The name of the attribute you want to filter against.
                                            example: first_name
                                          operator:
                                            type: string
                                            description: Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.
                                            enum:
                                            - eq
                                            - exists
                                          value:
                                            type: string
                                            description: The value you want to match for this attribute. You must include a value if you use the `eq` operator.
                                        example:
                                          field: unsubscribed
                                          operator: eq
                                          value: true
                              not:
                                description: Returns results if a condition is false. While and/or support an array of items, `not` supports a single filter object.
                                oneOf:
                                - title: and
                                  type: object
                                  properties:
                                    and:
                                      type: array
                                      description: Match *all* conditions to return results.
                                      items:
                                        x-scalar-ignore: true
                                        anyOf:
                                        - title: segment
                                          description: Filter for people who belong to a segment.
                                          type: object
                                          properties:
                                            segment:
                                              x-scalar-ignore: true
                                              title: segment
                                              type: object
                                              description: Provide the `id` of a segment containing people you want to search for.
                                              properties:
                                                id:
                                                  type: integer
                                                  description: The ID of the segment you want to return people from.
                                                  example: 4
                                        - title: audience
                                          type: object
                                          description: filter for people who have an attribute or an attribute value.
                                          properties:
                                            attribute:
                                              x-scalar-ignore: true
                                              title: attribute
                                              description: Filter your audience by attribute.
                                              type: object
                                              required:
                                              - field
                                              - operator
                                              properties:
                                                field:
                                                  type: string
                                                  description: The name of the attribute you want to filter against.
                                                  example: first_name
                                                operator:
                                                  type: string
                                                  description: Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.
                                                  enum:
                                                  - eq
                                                  - exists
                                                value:
                                                  type: string
                                                  description: The value you want to match for this attribute. You must include a value if you use the `eq` operator.
                                              example:
                                                field: unsubscribed
                                                operator: eq
                                                value: true
                                - title: or
                                  type: object
                                  properties:
                                    or:
                                      type: array
                                      description: Match *any* condition to return results.
                                      items:
                                        x-scalar-ignore: true
                                        anyOf:
                                        - title: segment
                                          description: Filter for people who belong to a segment.
                                          type: object
                                          properties:
                                            segment:
                                              x-scalar-ignore: true
                                              title: segment
                                              type: object
                                              description: Provide the `id` of a segment containing people you want to search for.
                                              properties:
                                                id:
                                                  type: integer
                                                  description: The ID of the segment you want to return people from.
                                                  example: 4
                                        - title: audience
                                          type: object
                                          description: filter for people who have an attribute or an attribute value.
                                          properties:
                                            attribute:
                                              x-scalar-ignore: true
                                              title: attribute
                                              description: Filter your audience by attribute.
                                              type: object
                                              required:
                                              - field
                                              - operator
                                              properties:
                                                field:
                                                  type: string
                                                  description: The name of the attribute you want to filter against.
                                                  example: first_name
                                                operator:
                                                  type: string
                                                  description: Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.
                                                  enum:
                                                  - eq
                                                  - exists
                                                value:
                                                  type: string
                                                  description: The value you want to match for this attribute. You must include a value if you use the `eq` operator.
                                              example:
                                                field: unsubscribed
                                                operator: eq
                                                value: true
                                - title: segment
                                  type: object
                                  properties:
                                    segment:
                                      x-scalar-ignore: true
                                      title: segment
                                      type: object
                                      description: Provide the `id` of a segment containing people you want to search for.
                                      properties:
                                        id:
                                          type: integer
                                          description: The ID of the segment you want to return people from.
                                          example: 4
                                - title: attribute
                                  type: object
                                  properties:
                                    attribute:
                                      x-scalar-ignore: true
                                      title: attribute
                                      description: Filter your audience by attribute.
                                      type: object
                                      required:
                                      - field
                                      - operator
                                      properties:
                                        field:
                                          type: string
                                          description: The name of the attribute you want to filter against.
                                          example: first_name
                                        operator:
                                          type: string
                                          description: Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.
                                          enum:
                                          - eq
                                          - exists
                                        value:
                                          type: string
                                          description: The value you want to match for this attribute. You must include a value if you use the `eq` operator.
                                      example:
                                        field: unsubscribed
                                        operator: eq
                                        value: true
                              segment:
                                x-scalar-ignore: true
                                title: segment
                                type: object
                                description: Provide the `id` of a segment containing people you want to search for.
                                properties:
                                  id:
                                    type: integer
                                    description: The ID of the segment you want to return people from.
                                    example: 4
                              attribute:
                                x-scalar-ignore: true
                                title: attribute
                                description: Filter your audience by attribute.
                                type: object
                                required:
                                - field
                                - operator
                                properties:
                                  field:
                                    type: string
                                    description: The name of the attribute you want to filter against.
                                    example: first_name
                                  operator:
                                    type: string
                                    description: Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.
                                    enum:
                                    - eq
                                    - exists
                                  value:
                                    type: string
                                    description: The value you want to match for this attribute. You must include a value if you use the `eq` operator.
                                example:
                                  field: unsubscribed
                                  operator: eq
                                  value: true
                    - title: or
                      type: object
                      properties:
                        or:
                          type: array
                          description: Match *any* condition to return results.
                          items:
                            x-scalar-ignore: true
                            title: People Filter
                            type: object
                            description: Filter people with `and`, `or`, and `not` groups made from `segment` and `attribute` conditions.
                            properties:
                              and:
                                type: array
                                description: Returns results matching *all* conditions.
                                items:
                                  x-scalar-ignore: true
                                  anyOf:
                                  - title: segment
                                    description: Filter for people who belong to a segment.
                                    type: object
                                    properties:
                                      segment:
                                        x-scalar-ignore: true
                                        title: segment
                                        type: object
                                        description: Provide the `id` of a segment containing people you want to search for.
                                        properties:
                                          id:
                                            type: integer
                                            description: The ID of the segment you want to return people from.
                                            example: 4
                                  - title: audience
                                    type: object
                                    description: filter for people who have an attribute or an attribute value.
                                    properties:
                                      attribute:
                                        x-scalar-ignore: true
                                        title: attribute
                                        description: Filter your audience by attribute.
                                        type: object
                                        required:
                                        - field
                                        - operator
                                        properties:
                                          field:
                                            type: string
                                            description: The name of the attribute you want to filter against.
                                            example: first_name
                                          operator:
                                            type: string
                                            description: Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.
                                            enum:
                                            - eq
                                            - exists
                                          value:
                                            type: string
                                            description: The value you want to match for this attribute. You must include a value if you use the `eq` operator.
                                        example:
                                          field: unsubscribed
                                          operator: eq
                                          value: true
                              or:
                                type: array
                                description: Returns results matching *any* conditions.
                                items:
                                  x-scalar-ignore: true
                                  anyOf:
                                  - title: segment
                                    description: Filter for people who belong to a segment.
                                    type: object
                                    properties:
                                      segment:
                                        x-scalar-ignore: true
                                        title: segment
                                        type: object
                                        description: Provide the `id` of a segment containing people you want to search for.
                                        properties:
                                          id:
                                            type: integer
                                            description: The ID of the segment you want to return people from.
                                            example: 4
                                  - title: audience
                                    type: object
                                    description: filter for people who have an attribute or an attribute value.
                                    properties:
                                      attribute:
                                        x-scalar-ignore: true
                                        title: attribute
                                        description: Filter your audience by attribute.
                                        type: object
                                        required:
                                        - field
                                        - operator
                                        properties:
                                          field:
                                            type: string
                                            description: The name of the attribute you want to filter against.
                                            example: first_name
                                          operator:
                                            type: string
                                            description: Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.
                                            enum:
                                            - eq
                                            - exists
                                          value:
                                            type: string
                                            description: The value you want to match for this attribute. You must include a value if you use the `eq` operator.
                                        example:
                                          field: unsubscribed
                                          operator: eq
                                          value: true
                              not:
                                description: Returns results if a condition is false. While and/or support an array of items, `not` supports a single filter object.
                                oneOf:
                                - title: and
                                  type: object
                                  properties:
                                    and:
                                      type: array
                                      description: Match *all* conditions to return results.
                                      items:
                                        x-scalar-ignore: true
                                        anyOf:
                                        - title: segment
                                          description: Filter for people who belong to a segment.
                                          type: object
                                          properties:
                                            segment:
                                              x-scalar-ignore: true
                                              title: segment
                                              type: object
                                              description: Provide the `id` of a segment containing people you want to search for.
                                              properties:
                                                id:
                                                  type: integer
                                                  description: The ID of the segment you want to return people from.
                                                  example: 4
                                        - title: audience
                                          type: object
                                          description: filter for people who have an attribute or an attribute value.
                                          properties:
                                            attribute:
                                              x-scalar-ignore: true
                                              title: attribute
                                              description: Filter your audience by attribute.
                                              type: object
                                              required:
                                              - field
                                              - operator
                                              properties:
                                                field:
                                                  type: string
                                                  description: The name of the attribute you want to filter against.
                                                  example: first_name
                                                operator:
                                                  type: string
                                                  description: Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.
                                                  enum:
                                                  - eq
                                                  - exists
                                                value:
                                                  type: string
                                                  description: The value you want to match for this attribute. You must include a value if you use the `eq` operator.
                                              example:
                                                field: unsubscribed
                                                operator: eq
                                                value: true
                                - title: or
                                  type: object
                                  properties:
                                    or:
                                      type: array
                                      description: Match *any* condition to return results.
                                      items:
                                        x-scalar-ignore: true
                                        anyOf:
                                        - title: segment
                                          description: Filter for people who belong to a segment.
                                          type: object
                                          properties:
                                            segment:
                                              x-scalar-ignore: true
                                              title: segment
                                              type: object
                                              description: Provide the `id` of a segment containing people you want to search for.
                                              properties:
                                                id:
                                                  type: integer
                                                  description: The ID of the segment you want to return people from.
                                                  example: 4
                                        - title: audience
                                          type: object
                                          description: filter for people who have an attribute or an attribute value.
                                          properties:
                                            attribute:
                                              x-scalar-ignore: true
                                              title: attribute
                                              description: Filter your audience by attribute.
                                              type: object
                                              required:
                                              - field
                                              - operator
                                              properties:
                                                field:
                                                  type: string
                                                  description: The name of the attribute you want to filter against.
                                                  example: first_name
                                                operator:
                                                  type: string
                                                  description: Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.
                                                  enum:
                                                  - eq
                                                  - exists
                                                value:
                                                  type: string
                                                  description: The value you want to match for this attribute. You must include a value if you use the `eq` operator.
                                              example:
                                                field: unsubscribed
                                                operator: eq
                                                value: true
                                - title: segment
                                  type: object
                                  properties:
                                    segment:
                                      x-scalar-ignore: true
                                      title: segment
                                      type: object
                                      description: Provide the `id` of a segment containing people you want to search for.
                                      properties:
                                        id:
                                          type: integer
                                          description: The ID of the segment you want to return people from.
                                          example: 4
                                - title: attribute
                                  type: object
                                  properties:
                                    attribute:
                                      x-scalar-ignore: true
                                      title: attribute
                                      description: Filter your audience by attribute.
                                      type: object
                                      required:
                                      - field
                                      - operator
                                      properties:
                                        field:
                                          type: string
                                          description: The name of the attribute you want to filter against.
                                          example: first_name
                                        operator:
                                          type: string
                                          description: Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.
                                          enum:
                                          - eq
                                          - exists
                                        value:
                                          type: string
                                          description: The value you want to match for this attribute. You must include a value if you use the `eq` operator.
                                      example:
                                        field: unsubscribed
                                        operator: eq
                                        value: true
                              segment:
                                x-scalar-ignore: true
                                title: segment
                                type: object
                                description: Provide the `id` of a segment containing people you want to search for.
                                properties:
                                  id:
                                    type: integer
                                    description: The ID of the segment you want to return people from.
                                    example: 4
                              attribute:
                                x-scalar-ignore: true
                                title: attribute
                                description: Filter your audience by attribute.
                                type: object
                                required:
                                - field
                                - operator
                                properties:
                                  field:
                                    type: string
                                    description: The name of the attribute you want to filter against.
                                    example: first_name
                                  operator:
                                    type: string
                                    description: Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.
                                    enum:
                                    - eq
                                    - exists
                                  value:
                                    type: string
                                    description: The value you want to match for this attribute. You must include a value if you use the `eq` operator.
                                example:
                                  field: unsubscribed
                                  operator: eq
                                  value: true
                    - title: segment
                      type: object
                      properties:
                        segment:
                          x-scalar-ignore: true
                          title: segment
                          type: object
                          description: Provide the `id` of a segment containing people you want to search for.
                          properties:
                            id:
                              type: integer
                              description: The ID of the segment you want to return people from.
                              example: 4
                    - title: attribute
                      type: object
                      properties:
                        attribute:
                          x-scalar-ignore: true
                          title: attribute
                          description: Filter your audience by attribute.
                          type: object
                          required:
                          - field
                          - operator
                          properties:
                            field:
                              type: string
                              description: The name of the attribute you want to filter against.
                              example: first_name
                            operator:
                              type: string
                              description: Determine how to evaluate criteria against the field—`exists` returns results if a person in the audience has the attribute; `eq` returns results if the audience has the attribute and the attribute has the `value` you specify.
                              enum:
                              - eq
                              - exists
                            value:
                              type: string
                              description: The value you want to match for this attribute. You must include a value if you use the `eq` operator.
                          example:
                            field: unsubscribed
                            operator: eq
                            value: true
                  - title: segment
                    description: Filter for people who belong to a segment.
                    type: object
                    properties:
                      segment:
                        x-scalar-ignore: true
                        title: segment
                        type: object
                        description: Provide the `id` of a segment containing people you want to search for.
                        properties:
                          id:
                            type: integer
                            description: The ID of the segment you want to return people from.
                            example: 4
                  - title: audience
                    type: object
                    description: filter for people who have an attribute or an attribute value.
                    properties:
                      attribute:
                        x-scalar-ignore: true
                        title: attribute
                        description: Filter your audience by attribute.
                        type: object
                        required:
                        - field
                        - operator
                        properties:
                          field:
                            type: string
                            description: The name of the attribute you want to filter against.
                            example: first_name
                          operator:
                            type: string
[...]
