openapi: 3.2.0
info:
  version: 1.0.0
  title: Customer.io Track Track Region API
  description: '# Overview


    Our Track API provides ways to send real-time customer data to your Customer.io workspace including customer identification and event tracking.'
servers:
- url: https://track.customer.io
  description: The base URL for the Track API. Track endpoints use basic authentication with your Site ID as the user name and your secret key as the password.
- url: https://track-eu.customer.io
  description: The base URL for the Track API (EU region). Track endpoints use basic authentication with your Site ID as the user name and your secret key as the password.
tags:
- name: trackRegion
  x-displayName: Account Region
  description: Determine whether your account and data are hosted in the US or EU data center using your Track API Key.
paths:
  /api/v1/accounts/region:
    get:
      operationId: getRegion
      summary: Find your account region
      description: 'This endpoint returns the appropriate region and URL for your Track API credentials. Use it to determine the URLs you should use to successfully complete other requests.


        You can perform this operation against either of the track API regional URLs; it returns your region in either case.


        This endpoint also returns an `environment_id`, which represents the workspace the credentials are valid for.'
      tags:
      - trackRegion
      security:
      - Tracking-API-Key: []
      servers:
      - url: https://track.customer.io
        description: This endpoint is a part of the Track API.
      responses:
        '200':
          description: Your credentials are valid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    description: The URL you will use for future Track API calls.
                    enum:
                    - https://track.customer.io
                    - https://track-eu.customer.io
                    example: https://track.customer.io
                  region:
                    type: string
                    description: The 'region' that your account is in. While the `url` relates to the Track API, this tells you which region of the Customer.io API to use. If this value is `eu`, you can append the subdomain any of the Customer.io API URLs with `-eu` to route your request to the appropriate region.
                    enum:
                    - us
                    - eu
                    example: us
                  environment_id:
                    type: integer
                    description: The identifier for the workspace that your credentials grant access to.
                    example: 3
        '401':
          $ref: '#/components/responses/401'
components:
  responses:
    '401':
      description: Unauthorized request. Make sure that you provided the right credentials.
  securitySchemes:
    Tracking-API-Key:
      type: http
      scheme: basic
      description: 'The Track API uses a basic authentication scheme. Your credentials are your **Site ID** and your **API key**, **Base-64 encoded** in the format `site_id:api_key`.


        You can find your Site ID and API key on the [Track API Keys page](https://fly.customer.io/settings/api_credentials).

        '
