openapi: 3.2.0
info:
  version: 1.0.0
  title: Customer.io App API
  description: 'Our App API provides ways to trigger messages and retrieve information about people, campaigns, broadcasts, and more.


    # Overview


    The App API provides methods to send newsletters, transactional messages, and API-triggered broadcasts. You can create newsletters from scratch and update transactional messages and API-triggered broadcasts.


    For transactional messages and API-triggered broadcasts, your payload acts as a message "trigger" and can contain `data` that you reference in your messages using liquid—`{{trigger.<data>}}`.


    The other endpoints help you retrieve information about people, segments, campaigns, broadcasts, etc; it also lets you update campaign actions, messages, newsletter variants, etc. Aside from the [API-triggered broadcast](#triggerBroadcast) (1 per 10 seconds) and [Transactional](#sendEmail) (100 per second) endpoints, requests are limited to 10 per second.


    # Use our Postman collection


    We''ve generated a Postman collection to help you get started with our APIs.


    If you fork this collection, you might want to disable the *Watch original collection* option. We automatically update our Postman collection whenever we release changes to our documentation, even if we don''t change our APIs—which happens daily! Rather than being flooded with Postman notifications, you can check out our [Release Notes](/release-notes/) for updates to our APIs.


    **NOTE**: Postman endpoints default to our US APIs. If you''re in our European (EU) region, you''ll need to add `-eu` to the server variables (`track_api_url` and `app_api_url`).


    [<img src="https://run.pstmn.io/button.svg" alt="Run In Postman" style="width: 128px; height: 32px;">](https://god.gw.postman.com/run-collection/23697545-2931c004-e63d-4cdc-bf4b-e685ba6da42d?action=collection%2Ffork&source=rip_markdown&collection-url=entityId%3D23697545-2931c004-e63d-4cdc-bf4b-e685ba6da42d%26entityType%3Dcollection%26workspaceId%3Db886877f-fc09-475f-84fe-6221a98f4d18#?env%5BCustomer.io%20API%20Environment%5D=W3sia2V5IjoidHJhY2tfYXBpX3VybCIsInR5cGUiOiJkZWZhdWx0IiwidmFsdWUiOiJ0cmFjay5jdXN0b21lci5pbyIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiYXBwX2FwaV91cmwiLCJ0eXBlIjoiZGVmYXVsdCIsInZhbHVlIjoiYXBpLmN1c3RvbWVyLmlvIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJzaXRlX2lkIiwidHlwZSI6ImRlZmF1bHQiLCJ2YWx1ZSI6IiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiYXBpX2tleSIsInR5cGUiOiJzZWNyZXQiLCJ2YWx1ZSI6IiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiYmVhcmVyIiwidHlwZSI6ImRlZmF1bHQiLCJ2YWx1ZSI6IiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiYnJvYWRjYXN0X2lkIiwidHlwZSI6ImRlZmF1bHQiLCJ2YWx1ZSI6IiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiaW1wb3J0X2lkIiwidHlwZSI6ImRlZmF1bHQiLCJ2YWx1ZSI6IiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiZW1haWxfYWRkcmVzcyIsInR5cGUiOiJkZWZhdWx0IiwidmFsdWUiOiIiLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6InN1cHByZXNzaW9uX3R5cGUiLCJ0eXBlIjoiZGVmYXVsdCIsInZhbHVlIjoiIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJjb2xsZWN0aW9uX2lkIiwidHlwZSI6ImRlZmF1bHQiLCJ2YWx1ZSI6IiIsImVuYWJsZWQiOnRydWV9LHsia2V5Ijoic25pcHBldF9uYW1lIiwidHlwZSI6ImRlZmF1bHQiLCJ2YWx1ZSI6IiIsImVuYWJsZWQiOnRydWV9LHsia2V5Ijoid2ViaG9va19pZCIsInR5cGUiOiJkZWZhdWx0IiwidmFsdWUiOiIiLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6InNlbmRlcl9pZCIsInR5cGUiOiJkZWZhdWx0IiwidmFsdWUiOiIiLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImV4cG9ydF9pZCIsInR5cGUiOiJkZWZhdWx0IiwidmFsdWUiOiIiLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6Im1lc3NhZ2VfaWQiLCJ0eXBlIjoiZGVmYXVsdCIsInZhbHVlIjoiIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJzZWdtZW50X2lkIiwidHlwZSI6ImRlZmF1bHQiLCJ2YWx1ZSI6IiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoibmV3c2xldHRlcl9pZCIsInR5cGUiOiJkZWZhdWx0IiwidmFsdWUiOiIiLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImNvbnRlbnRfaWQiLCJ0eXBlIjoiZGVmYXVsdCIsInZhbHVlIjoiIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJjYW1wYWlnbl9pZCIsInR5cGUiOiJkZWZhdWx0IiwidmFsdWUiOiIiLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImFjdGlvbl9pZCIsInR5cGUiOiJkZWZhdWx0IiwidmFsdWUiOiIiLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImN1c3RvbWVyX2lkIiwidHlwZSI6ImRlZmF1bHQiLCJ2YWx1ZSI6IiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoidHJhbnNhY3Rpb25hbF9pZCIsInR5cGUiOiJkZWZhdWx0IiwidmFsdWUiOiIiLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6InRyaWdnZXJfaWQiLCJ0eXBlIjoiZGVmYXVsdCIsInZhbHVlIjoiIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJmb3JtX2lkIiwidHlwZSI6ImRlZmF1bHQiLCJ2YWx1ZSI6IiIsImVuYWJsZWQiOnRydWV9LHsia2V5IjoiaWRlbnRpZmllciIsInR5cGUiOiJkZWZhdWx0IiwidmFsdWUiOiIiLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImRldmljZV9pZCIsInR5cGUiOiJkZWZhdWx0IiwidmFsdWUiOiIiLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImRlbGl2ZXJ5X2lkIiwidHlwZSI6ImRlZmF1bHQiLCJ2YWx1ZSI6IiIsImVuYWJsZWQiOnRydWV9XQ==)


    # Server addresses: US and EU


    Customer.io hosts services in the United States (US) and European Union. Select the appropriate server address for your region.


    | Region | Server Address |

    | :-- | :-- |

    | US | https://api.customer.io |

    | EU | https://api-eu.customer.io |


    # Authentication


    All requests to the Customer.io App API use an [App API Key](#App-API-Key).


    To authenticate, provide your key as a Bearer token in a HTTP Authorization header. You can create and manage your API keys—including keys with different scopes—in [your account settings page](https://fly.customer.io/settings/api_credentials?keyType=app). Each operation on this page references the authorization header it requires.


    # Rate Limits


    Most endpoints on this page are limited to 10 requests per second. The exceptions are:

    * The [transactional email](#operation/sendEmail) endpoint is limited to 100 requests per second.

    * The [API-triggered broadcast endpoint](#operation/triggerBroadcast) is limited to 1 request every 10 seconds.


    **Rate limits are subject to change. We may adjust these thresholds to ensure stable performance for all customers.**

    '
servers:
- url: https://api.customer.io
  description: The base URL for broadcasts, transactional messages, and data-retrieval APIs. These endpoints use bearer authorization, and require a [token that you generate in the UI](https://fly.customer.io/settings/api_credentials?keyType=app).
- url: https://api-eu.customer.io
  description: The base URL for broadcasts, transactional messages, and data-retrieval APIs (EU region). These endpoints use bearer authorization, and require a [token that you generate in the UI](https://fly.customer.io/settings/api_credentials?keyType=app).
tags:
- name: Customer.io App API
paths: {}
webhooks:
  reportingWebhook:
    post:
      summary: Reporting webhook format
      description: Customer.io sends events to your webhook URL in the following format. Events are generally organized by `object_type`—representing the message or Customer.io action (i.e. `email`, `sms`, etc)—and the specific `metric` pertaining to the type (i.e. `sent`, `bounced`, etc).
      operationId: reportingWebhook
      security: []
      parameters:
      - name: x-cio-timestamp
        schema:
          type: integer
          format: unix timestamp
        description: The timestamp when the request was sent.
        in: header
        required: true
      - name: x-cio-signature
        in: header
        description: "A string combining your webhook signing key with the body of webhook request using an HMAC-SHA256 hash, used to help you [securely verify requests](/webhooks#securely-verifying-requests). \n"
        required: true
        schema:
          type: string
      responses: {}
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/customer_event'
              - $ref: '#/components/schemas/email_event'
              - $ref: '#/components/schemas/push_event'
              - $ref: '#/components/schemas/in_app_event'
              - $ref: '#/components/schemas/sms_event'
              - $ref: '#/components/schemas/slack_event'
              - $ref: '#/components/schemas/webhook_event'
              - $ref: '#/components/schemas/whatsapp_event'
            examples:
              customer_subscribed:
                summary: Customer subscribed event
                value:
                  metric: subscribed
                  event_id: 01E4C4CT6YDC7Y5M7FE1GWWPQJ
                  object_type: customer
                  timestamp: 1613063089
                  data:
                    customer_id: '0200000001'
                    email_address: test@example.com
                    identifiers:
                      id: '42'
                      email: test@example.com
                      cio_id: d9c106000001
              email_sent:
                summary: Email sent event
                value:
                  metric: sent
                  event_id: 01E4C4CT6YDC7Y5M7FE1GWWPQJ
                  object_type: email
                  timestamp: 1613063089
                  data:
                    action_id: 42
                    broadcast_id: 9
                    customer_id: '0200000001'
                    delivery_id: RPILAgUBcRhIBqSfeiIwdIYJKxTY
                    identifiers:
                      id: '42'
                      email: test@example.com
                      cio_id: d9c106000001
                    recipient: test@example.com
              sms_sent:
                summary: SMS sent event
                value:
                  metric: sent
                  event_id: 01E4C4CT6YDC7Y5M7FE1GWWPQJ
                  object_type: sms
                  timestamp: 1613063089
                  data:
                    action_id: 42
                    broadcast_id: 9
                    customer_id: '0200000001'
                    delivery_id: RPILAgUBcRhIBqSfeiIwdIYJKxTY
                    identifiers:
                      id: '42'
                      email: test@example.com
                      cio_id: d9c106000001
                    recipient: '+15551234567'
      tags:
      - Customer.io App API
components:
  schemas:
    whatsapp_attempted:
      title: WhatsApp attempted
      allOf:
      - x-scalar-ignore: true
        type: object
        required:
        - event_id
        - object_type
        - timestamp
        properties:
          event_id:
            x-scalar-ignore: true
            type: string
            description: The unique ID of the reporting webhook event being sent.
            example: 01E4C4CT6YDC7Y5M7FE1GWWPQJ
          object_type:
            type: string
            enum:
            - whatsapp
            description: The event relates to a WhatsApp message.
          timestamp:
            x-scalar-ignore: true
            type: integer
            format: unix timestamp
            description: The unix timestamp when the event occurred.
            example: 1613063089
      - type: object
        required:
        - metric
        - data
        properties:
          metric:
            type: string
            enum:
            - attempted
            description: A WhatsApp message could not be sent to the delivery provider, but will retry.
          data:
            description: Contains information about the event, specific to the `object_type` and `metric`.
            allOf:
            - x-scalar-ignore: true
              example:
                customer_id: user-123
                delivery_id: RPIyMTM6OjEyMzQ=
                action_id: 42
                campaign_id: 7
                journey_id: 15
                identifiers:
                  id: user-123
              oneOf:
              - title: API triggered broadcast
                required:
                - trigger_id
                - broadcast_id
                - delivery_id
                - action_id
                - identifiers
                type: object
                properties:
                  trigger_id:
                    x-scalar-ignore: true
                    type: integer
                    description: The trigger ID returned by the [Trigger Broadcast API](/api/#operation/triggerBroadcast).
                    example: 1
                  customer_id:
                    x-scalar-ignore: true
                    type: string
                    deprecated: true
                    description: 'The ID of the person the webhook event occurred to. Blank if the person in question has been deleted.


                      While webhooks may still contain this property, you should rely on the newer `identifiers` object wherever possible.

                      '
                    example: '42'
                  delivery_id:
                    x-scalar-ignore: true
                    type: string
                    description: The instance of a message sent to a person.
                    example: ZAIAAVTJVG0QcCok0-0ZKj6yiQ==
                  action_id:
                    x-scalar-ignore: true
                    description: The identifier for an action.
                    type: integer
                    readOnly: true
                    example: 96
                  broadcast_id:
                    oneOf:
                    - x-scalar-ignore: true
                      type: integer
                      description: The identifier for a broadcast.
                      example: 2
                    - type: 'null'
                  journey_id:
                    x-scalar-ignore: true
                    type: string
                    description: The ID for the path a person went through in a Campaign or API Triggered Broadcast workflow.
                    example: 01GW20GXAAXBKZD8J96M8FNV3R
                  parent_action_id:
                    x-scalar-ignore: true
                    type: integer
                    description: The ID of the parent action, if the action occurred within a campaign and has a parent (like a randomized split, etc).
                    example: 1
                    readOnly: true
                  identifiers:
                    x-scalar-ignore: true
                    type: object
                    description: "The person the event represents. This object contains all of the identifiers available to people in your workspace, even if they aren't set. If your workspace supports multiple identifiers (email and ID), this object contains `id`, `email` (either of which can be null), and `cio_id`. \n\nOtherwise, if your workspace only supports ID, this object just contains the `id` of the person the event represents.\n"
                    required:
                    - id
                    properties:
                      id:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The ID of a customer profile, analogous to a "person" in the UI. If your workspace supports multiple identifiers (email and ID), this value can be null.
                        example: '42'
                      email:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The email address of the customer.
                        example: test@example.com
                      cio_id:
                        type: string
                        description: The canonical identifier for a person, present only if your workspace supports multiple identifiers (email and ID). This value exists to keep a record of a person in your workspace across changes to their other identifiers.
                        example: d9c106000001
              - title: Campaign
                type: object
                required:
                - campaign_id
                - delivery_id
                - action_id
                - identifiers
                properties:
                  campaign_id:
                    oneOf:
                    - x-scalar-ignore: true
                      description: The identifier for a campaign.
                      type: integer
                      example: 5
                    - type: 'null'
                  customer_id:
                    x-scalar-ignore: true
                    type: string
                    deprecated: true
                    description: 'The ID of the person the webhook event occurred to. Blank if the person in question has been deleted.


                      While webhooks may still contain this property, you should rely on the newer `identifiers` object wherever possible.

                      '
                    example: '42'
                  delivery_id:
                    x-scalar-ignore: true
                    type: string
                    description: The instance of a message sent to a person.
                    example: ZAIAAVTJVG0QcCok0-0ZKj6yiQ==
                  action_id:
                    x-scalar-ignore: true
                    description: The identifier for an action.
                    type: integer
                    readOnly: true
                    example: 96
                  journey_id:
                    x-scalar-ignore: true
                    type: string
                    description: The ID for the path a person went through in a Campaign or API Triggered Broadcast workflow.
                    example: 01GW20GXAAXBKZD8J96M8FNV3R
                  identifiers:
                    x-scalar-ignore: true
                    type: object
                    description: "The person the event represents. This object contains all of the identifiers available to people in your workspace, even if they aren't set. If your workspace supports multiple identifiers (email and ID), this object contains `id`, `email` (either of which can be null), and `cio_id`. \n\nOtherwise, if your workspace only supports ID, this object just contains the `id` of the person the event represents.\n"
                    required:
                    - id
                    properties:
                      id:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The ID of a customer profile, analogous to a "person" in the UI. If your workspace supports multiple identifiers (email and ID), this value can be null.
                        example: '42'
                      email:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The email address of the customer.
                        example: test@example.com
                      cio_id:
                        type: string
                        description: The canonical identifier for a person, present only if your workspace supports multiple identifiers (email and ID). This value exists to keep a record of a person in your workspace across changes to their other identifiers.
                        example: d9c106000001
                  parent_action_id:
                    x-scalar-ignore: true
                    type: integer
                    description: The ID of the parent action, if the action occurred within a campaign and has a parent (like a randomized split, etc).
                    example: 1
                    readOnly: true
                  trigger_event_id:
                    x-scalar-ignore: true
                    type: string
                    description: The id of the event that triggered an event-triggered campaign (not an API-triggered broadcast).
                    example: 21E4C3CT6YDC7Y4N7FE1GWWABC
              - title: Newsletter
                type: object
                required:
                - newsletter_id
                - delivery_id
                - identifiers
                properties:
                  customer_id:
                    x-scalar-ignore: true
                    type: string
                    deprecated: true
                    description: 'The ID of the person the webhook event occurred to. Blank if the person in question has been deleted.


                      While webhooks may still contain this property, you should rely on the newer `identifiers` object wherever possible.

                      '
                    example: '42'
                  delivery_id:
                    x-scalar-ignore: true
                    type: string
                    description: The instance of a message sent to a person.
                    example: ZAIAAVTJVG0QcCok0-0ZKj6yiQ==
                  newsletter_id:
                    oneOf:
                    - x-scalar-ignore: true
                      description: The identifier for a newsletter.
                      type: integer
                      example: 10
                    - type: 'null'
                  content_id:
                    x-scalar-ignore: true
                    description: The identifier for a newsletter variant.
                    type: integer
                    example: 3
                  identifiers:
                    x-scalar-ignore: true
                    type: object
                    description: "The person the event represents. This object contains all of the identifiers available to people in your workspace, even if they aren't set. If your workspace supports multiple identifiers (email and ID), this object contains `id`, `email` (either of which can be null), and `cio_id`. \n\nOtherwise, if your workspace only supports ID, this object just contains the `id` of the person the event represents.\n"
                    required:
                    - id
                    properties:
                      id:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The ID of a customer profile, analogous to a "person" in the UI. If your workspace supports multiple identifiers (email and ID), this value can be null.
                        example: '42'
                      email:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The email address of the customer.
                        example: test@example.com
                      cio_id:
                        type: string
                        description: The canonical identifier for a person, present only if your workspace supports multiple identifiers (email and ID). This value exists to keep a record of a person in your workspace across changes to their other identifiers.
                        example: d9c106000001
            - type: object
              required:
              - failure_message
              properties:
                failure_message:
                  x-scalar-ignore: true
                  type: string
                  description: Indicates the reason that an attempted message failed.
                  example: Something went wrong!
    sms_sent:
      title: SMS sent
      allOf:
      - x-scalar-ignore: true
        type: object
        required:
        - event_id
        - object_type
        - timestamp
        properties:
          event_id:
            x-scalar-ignore: true
            type: string
            description: The unique ID of the reporting webhook event being sent.
            example: 01E4C4CT6YDC7Y5M7FE1GWWPQJ
          object_type:
            type: string
            enum:
            - sms
            description: The event relates to an SMS message.
          timestamp:
            x-scalar-ignore: true
            type: integer
            format: unix timestamp
            description: The unix timestamp when the event occurred.
            example: 1613063089
      - type: object
        required:
        - metric
        - data
        properties:
          metric:
            type: string
            enum:
            - sent
            description: An SMS notification was sent. If you enabled the *Body Content* option with your webhook, the payload includes the `content` of your message.
          data:
            description: Contains information about the event, specific to the `object_type` and `metric`.
            allOf:
            - x-scalar-ignore: true
              example:
                customer_id: user-123
                delivery_id: RPIyMTM6OjEyMzQ=
                action_id: 42
                campaign_id: 7
                journey_id: 15
                identifiers:
                  id: user-123
              oneOf:
              - title: API triggered broadcast
                required:
                - trigger_id
                - broadcast_id
                - delivery_id
                - action_id
                - identifiers
                type: object
                properties:
                  trigger_id:
                    x-scalar-ignore: true
                    type: integer
                    description: The trigger ID returned by the [Trigger Broadcast API](/api/#operation/triggerBroadcast).
                    example: 1
                  customer_id:
                    x-scalar-ignore: true
                    type: string
                    deprecated: true
                    description: 'The ID of the person the webhook event occurred to. Blank if the person in question has been deleted.


                      While webhooks may still contain this property, you should rely on the newer `identifiers` object wherever possible.

                      '
                    example: '42'
                  delivery_id:
                    x-scalar-ignore: true
                    type: string
                    description: The instance of a message sent to a person.
                    example: ZAIAAVTJVG0QcCok0-0ZKj6yiQ==
                  action_id:
                    x-scalar-ignore: true
                    description: The identifier for an action.
                    type: integer
                    readOnly: true
                    example: 96
                  broadcast_id:
                    oneOf:
                    - x-scalar-ignore: true
                      type: integer
                      description: The identifier for a broadcast.
                      example: 2
                    - type: 'null'
                  journey_id:
                    x-scalar-ignore: true
                    type: string
                    description: The ID for the path a person went through in a Campaign or API Triggered Broadcast workflow.
                    example: 01GW20GXAAXBKZD8J96M8FNV3R
                  parent_action_id:
                    x-scalar-ignore: true
                    type: integer
                    description: The ID of the parent action, if the action occurred within a campaign and has a parent (like a randomized split, etc).
                    example: 1
                    readOnly: true
                  identifiers:
                    x-scalar-ignore: true
                    type: object
                    description: "The person the event represents. This object contains all of the identifiers available to people in your workspace, even if they aren't set. If your workspace supports multiple identifiers (email and ID), this object contains `id`, `email` (either of which can be null), and `cio_id`. \n\nOtherwise, if your workspace only supports ID, this object just contains the `id` of the person the event represents.\n"
                    required:
                    - id
                    properties:
                      id:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The ID of a customer profile, analogous to a "person" in the UI. If your workspace supports multiple identifiers (email and ID), this value can be null.
                        example: '42'
                      email:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The email address of the customer.
                        example: test@example.com
                      cio_id:
                        type: string
                        description: The canonical identifier for a person, present only if your workspace supports multiple identifiers (email and ID). This value exists to keep a record of a person in your workspace across changes to their other identifiers.
                        example: d9c106000001
              - title: Campaign
                type: object
                required:
                - campaign_id
                - delivery_id
                - action_id
                - identifiers
                properties:
                  campaign_id:
                    oneOf:
                    - x-scalar-ignore: true
                      description: The identifier for a campaign.
                      type: integer
                      example: 5
                    - type: 'null'
                  customer_id:
                    x-scalar-ignore: true
                    type: string
                    deprecated: true
                    description: 'The ID of the person the webhook event occurred to. Blank if the person in question has been deleted.


                      While webhooks may still contain this property, you should rely on the newer `identifiers` object wherever possible.

                      '
                    example: '42'
                  delivery_id:
                    x-scalar-ignore: true
                    type: string
                    description: The instance of a message sent to a person.
                    example: ZAIAAVTJVG0QcCok0-0ZKj6yiQ==
                  action_id:
                    x-scalar-ignore: true
                    description: The identifier for an action.
                    type: integer
                    readOnly: true
                    example: 96
                  journey_id:
                    x-scalar-ignore: true
                    type: string
                    description: The ID for the path a person went through in a Campaign or API Triggered Broadcast workflow.
                    example: 01GW20GXAAXBKZD8J96M8FNV3R
                  identifiers:
                    x-scalar-ignore: true
                    type: object
                    description: "The person the event represents. This object contains all of the identifiers available to people in your workspace, even if they aren't set. If your workspace supports multiple identifiers (email and ID), this object contains `id`, `email` (either of which can be null), and `cio_id`. \n\nOtherwise, if your workspace only supports ID, this object just contains the `id` of the person the event represents.\n"
                    required:
                    - id
                    properties:
                      id:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The ID of a customer profile, analogous to a "person" in the UI. If your workspace supports multiple identifiers (email and ID), this value can be null.
                        example: '42'
                      email:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The email address of the customer.
                        example: test@example.com
                      cio_id:
                        type: string
                        description: The canonical identifier for a person, present only if your workspace supports multiple identifiers (email and ID). This value exists to keep a record of a person in your workspace across changes to their other identifiers.
                        example: d9c106000001
                  parent_action_id:
                    x-scalar-ignore: true
                    type: integer
                    description: The ID of the parent action, if the action occurred within a campaign and has a parent (like a randomized split, etc).
                    example: 1
                    readOnly: true
                  trigger_event_id:
                    x-scalar-ignore: true
                    type: string
                    description: The id of the event that triggered an event-triggered campaign (not an API-triggered broadcast).
                    example: 21E4C3CT6YDC7Y4N7FE1GWWABC
              - title: Newsletter
                type: object
                required:
                - newsletter_id
                - delivery_id
                - identifiers
                properties:
                  customer_id:
                    x-scalar-ignore: true
                    type: string
                    deprecated: true
                    description: 'The ID of the person the webhook event occurred to. Blank if the person in question has been deleted.


                      While webhooks may still contain this property, you should rely on the newer `identifiers` object wherever possible.

                      '
                    example: '42'
                  delivery_id:
                    x-scalar-ignore: true
                    type: string
                    description: The instance of a message sent to a person.
                    example: ZAIAAVTJVG0QcCok0-0ZKj6yiQ==
                  newsletter_id:
                    oneOf:
                    - x-scalar-ignore: true
                      description: The identifier for a newsletter.
                      type: integer
                      example: 10
                    - type: 'null'
                  content_id:
                    x-scalar-ignore: true
                    description: The identifier for a newsletter variant.
                    type: integer
                    example: 3
                  identifiers:
                    x-scalar-ignore: true
                    type: object
                    description: "The person the event represents. This object contains all of the identifiers available to people in your workspace, even if they aren't set. If your workspace supports multiple identifiers (email and ID), this object contains `id`, `email` (either of which can be null), and `cio_id`. \n\nOtherwise, if your workspace only supports ID, this object just contains the `id` of the person the event represents.\n"
                    required:
                    - id
                    properties:
                      id:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The ID of a customer profile, analogous to a "person" in the UI. If your workspace supports multiple identifiers (email and ID), this value can be null.
                        example: '42'
                      email:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The email address of the customer.
                        example: test@example.com
                      cio_id:
                        type: string
                        description: The canonical identifier for a person, present only if your workspace supports multiple identifiers (email and ID). This value exists to keep a record of a person in your workspace across changes to their other identifiers.
                        example: d9c106000001
            - type: object
              required:
              - recipient
              properties:
                content:
                  type: string
                  description: The body of your message. This key only appears if you enabled the *Body Content* option when setting up your webhook.
                recipient:
                  type: string
                  description: The MSISDN (phone number) of the SMS recipient.
    webhook_sent:
      title: Webhook sent
      allOf:
      - x-scalar-ignore: true
        type: object
        required:
        - event_id
        - object_type
        - timestamp
        properties:
          event_id:
            x-scalar-ignore: true
            type: string
            description: The unique ID of the reporting webhook event being sent.
            example: 01E4C4CT6YDC7Y5M7FE1GWWPQJ
          object_type:
            type: string
            enum:
            - webhook
            description: The event relates to a webhook.
          timestamp:
            x-scalar-ignore: true
            type: integer
            format: unix timestamp
            description: The unix timestamp when the event occurred.
            example: 1613063089
      - type: object
        required:
        - metric
        - data
        properties:
          metric:
            type: string
            enum:
            - sent
            description: A webhook was sent from Customer.io. If you enabled the *Body Content* option with your webhook, the payload includes the `content` of your webhook.
          data:
            description: Contains information about the event, specific to the `object_type` and `metric`.
            allOf:
            - x-scalar-ignore: true
              example:
                customer_id: user-123
                delivery_id: RPIyMTM6OjEyMzQ=
                action_id: 42
                campaign_id: 7
                journey_id: 15
                identifiers:
                  id: user-123
              oneOf:
              - title: API triggered broadcast
                required:
                - trigger_id
                - broadcast_id
                - delivery_id
                - action_id
                - identifiers
                type: object
                properties:
                  trigger_id:
                    x-scalar-ignore: true
                    type: integer
                    description: The trigger ID returned by the [Trigger Broadcast API](/api/#operation/triggerBroadcast).
                    example: 1
                  customer_id:
                    x-scalar-ignore: true
                    type: string
                    deprecated: true
                    description: 'The ID of the person the webhook event occurred to. Blank if the person in question has been deleted.


                      While webhooks may still contain this property, you should rely on the newer `identifiers` object wherever possible.

                      '
                    example: '42'
                  delivery_id:
                    x-scalar-ignore: true
                    type: string
                    description: The instance of a message sent to a person.
                    example: ZAIAAVTJVG0QcCok0-0ZKj6yiQ==
                  action_id:
                    x-scalar-ignore: true
                    description: The identifier for an action.
                    type: integer
                    readOnly: true
                    example: 96
                  broadcast_id:
                    oneOf:
                    - x-scalar-ignore: true
                      type: integer
                      description: The identifier for a broadcast.
                      example: 2
                    - type: 'null'
                  journey_id:
                    x-scalar-ignore: true
                    type: string
                    description: The ID for the path a person went through in a Campaign or API Triggered Broadcast workflow.
                    example: 01GW20GXAAXBKZD8J96M8FNV3R
                  parent_action_id:
                    x-scalar-ignore: true
                    type: integer
                    description: The ID of the parent action, if the action occurred within a campaign and has a parent (like a randomized split, etc).
                    example: 1
                    readOnly: true
                  identifiers:
                    x-scalar-ignore: true
                    type: object
                    description: "The person the event represents. This object contains all of the identifiers available to people in your workspace, even if they aren't set. If your workspace supports multiple identifiers (email and ID), this object contains `id`, `email` (either of which can be null), and `cio_id`. \n\nOtherwise, if your workspace only supports ID, this object just contains the `id` of the person the event represents.\n"
                    required:
                    - id
                    properties:
                      id:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The ID of a customer profile, analogous to a "person" in the UI. If your workspace supports multiple identifiers (email and ID), this value can be null.
                        example: '42'
                      email:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The email address of the customer.
                        example: test@example.com
                      cio_id:
                        type: string
                        description: The canonical identifier for a person, present only if your workspace supports multiple identifiers (email and ID). This value exists to keep a record of a person in your workspace across changes to their other identifiers.
                        example: d9c106000001
              - title: Campaign
                type: object
                required:
                - campaign_id
                - delivery_id
                - action_id
                - identifiers
                properties:
                  campaign_id:
                    oneOf:
                    - x-scalar-ignore: true
                      description: The identifier for a campaign.
                      type: integer
                      example: 5
                    - type: 'null'
                  customer_id:
                    x-scalar-ignore: true
                    type: string
                    deprecated: true
                    description: 'The ID of the person the webhook event occurred to. Blank if the person in question has been deleted.


                      While webhooks may still contain this property, you should rely on the newer `identifiers` object wherever possible.

                      '
                    example: '42'
                  delivery_id:
                    x-scalar-ignore: true
                    type: string
                    description: The instance of a message sent to a person.
                    example: ZAIAAVTJVG0QcCok0-0ZKj6yiQ==
                  action_id:
                    x-scalar-ignore: true
                    description: The identifier for an action.
                    type: integer
                    readOnly: true
                    example: 96
                  journey_id:
                    x-scalar-ignore: true
                    type: string
                    description: The ID for the path a person went through in a Campaign or API Triggered Broadcast workflow.
                    example: 01GW20GXAAXBKZD8J96M8FNV3R
                  identifiers:
                    x-scalar-ignore: true
                    type: object
                    description: "The person the event represents. This object contains all of the identifiers available to people in your workspace, even if they aren't set. If your workspace supports multiple identifiers (email and ID), this object contains `id`, `email` (either of which can be null), and `cio_id`. \n\nOtherwise, if your workspace only supports ID, this object just contains the `id` of the person the event represents.\n"
                    required:
                    - id
                    properties:
                      id:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The ID of a customer profile, analogous to a "person" in the UI. If your workspace supports multiple identifiers (email and ID), this value can be null.
                        example: '42'
                      email:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The email address of the customer.
                        example: test@example.com
                      cio_id:
                        type: string
                        description: The canonical identifier for a person, present only if your workspace supports multiple identifiers (email and ID). This value exists to keep a record of a person in your workspace across changes to their other identifiers.
                        example: d9c106000001
                  parent_action_id:
                    x-scalar-ignore: true
                    type: integer
                    description: The ID of the parent action, if the action occurred within a campaign and has a parent (like a randomized split, etc).
                    example: 1
                    readOnly: true
                  trigger_event_id:
                    x-scalar-ignore: true
                    type: string
                    description: The id of the event that triggered an event-triggered campaign (not an API-triggered broadcast).
                    example: 21E4C3CT6YDC7Y4N7FE1GWWABC
              - title: Newsletter
                type: object
                required:
                - newsletter_id
                - delivery_id
                - identifiers
                properties:
                  customer_id:
                    x-scalar-ignore: true
                    type: string
                    deprecated: true
                    description: 'The ID of the person the webhook event occurred to. Blank if the person in question has been deleted.


                      While webhooks may still contain this property, you should rely on the newer `identifiers` object wherever possible.

                      '
                    example: '42'
                  delivery_id:
                    x-scalar-ignore: true
                    type: string
                    description: The instance of a message sent to a person.
                    example: ZAIAAVTJVG0QcCok0-0ZKj6yiQ==
                  newsletter_id:
                    oneOf:
                    - x-scalar-ignore: true
                      description: The identifier for a newsletter.
                      type: integer
                      example: 10
                    - type: 'null'
                  content_id:
                    x-scalar-ignore: true
                    description: The identifier for a newsletter variant.
                    type: integer
                    example: 3
                  identifiers:
                    x-scalar-ignore: true
                    type: object
                    description: "The person the event represents. This object contains all of the identifiers available to people in your workspace, even if they aren't set. If your workspace supports multiple identifiers (email and ID), this object contains `id`, `email` (either of which can be null), and `cio_id`. \n\nOtherwise, if your workspace only supports ID, this object just contains the `id` of the person the event represents.\n"
                    required:
                    - id
                    properties:
                      id:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The ID of a customer profile, analogous to a "person" in the UI. If your workspace supports multiple identifiers (email and ID), this value can be null.
                        example: '42'
                      email:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The email address of the customer.
                        example: test@example.com
                      cio_id:
                        type: string
                        description: The canonical identifier for a person, present only if your workspace supports multiple identifiers (email and ID). This value exists to keep a record of a person in your workspace across changes to their other identifiers.
                        example: d9c106000001
            - type: object
              required:
              - recipient
              properties:
                content:
                  type: string
                  description: The stringified payload sent to your webhook address. This key only appears if you enabled the *Body Content* option when setting up your webhook.
                recipient:
                  type: string
                  description: The URL the webhook was sent to.
    webhook_clicked:
      title: Webhook clicked
      allOf:
      - x-scalar-ignore: true
        type: object
        required:
        - event_id
        - object_type
        - timestamp
        properties:
          event_id:
            x-scalar-ignore: true
            type: string
            description: The unique ID of the reporting webhook event being sent.
            example: 01E4C4CT6YDC7Y5M7FE1GWWPQJ
          object_type:
            type: string
            enum:
            - webhook
            description: The event relates to a webhook.
          timestamp:
            x-scalar-ignore: true
            type: integer
            format: unix timestamp
            description: The unix timestamp when the event occurred.
            example: 1613063089
      - type: object
        required:
        - metric
        - data
        properties:
          metric:
            type: string
            enum:
            - clicked
            description: The webhook recipient opened a tracked link in the webhook payload.
          data:
            description: Contains information about the event, specific to the `object_type` and `metric`.
            allOf:
            - x-scalar-ignore: true
              example:
                customer_id: user-123
                delivery_id: RPIyMTM6OjEyMzQ=
                action_id: 42
                campaign_id: 7
                journey_id: 15
                identifiers:
                  id: user-123
              oneOf:
              - title: API triggered broadcast
                required:
                - trigger_id
                - broadcast_id
                - delivery_id
                - action_id
                - identifiers
                type: object
                properties:
                  trigger_id:
                    x-scalar-ignore: true
                    type: integer
                    description: The trigger ID returned by the [Trigger Broadcast API](/api/#operation/triggerBroadcast).
                    example: 1
                  customer_id:
                    x-scalar-ignore: true
                    type: string
                    deprecated: true
                    description: 'The ID of the person the webhook event occurred to. Blank if the person in question has been deleted.


                      While webhooks may still contain this property, you should rely on the newer `identifiers` object wherever possible.

                      '
                    example: '42'
                  delivery_id:
                    x-scalar-ignore: true
                    type: string
                    description: The instance of a message sent to a person.
                    example: ZAIAAVTJVG0QcCok0-0ZKj6yiQ==
                  action_id:
                    x-scalar-ignore: true
                    description: The identifier for an action.
                    type: integer
                    readOnly: true
                    example: 96
                  broadcast_id:
                    oneOf:
                    - x-scalar-ignore: true
                      type: integer
                      description: The identifier for a broadcast.
                      example: 2
                    - type: 'null'
                  journey_id:
                    x-scalar-ignore: true
                    type: string
                    description: The ID for the path a person went through in a Campaign or API Triggered Broadcast workflow.
                    example: 01GW20GXAAXBKZD8J96M8FNV3R
                  parent_action_id:
                    x-scalar-ignore: true
                    type: integer
                    description: The ID of the parent action, if the action occurred within a campaign and has a parent (like a randomized split, etc).
                    example: 1
                    readOnly: true
                  identifiers:
                    x-scalar-ignore: true
                    type: object
                    description: "The person the event represents. This object contains all of the identifiers available to people in your workspace, even if they aren't set. If your workspace supports multiple identifiers (email and ID), this object contains `id`, `email` (either of which can be null), and `cio_id`. \n\nOtherwise, if your workspace only supports ID, this object just contains the `id` of the person the event represents.\n"
                    required:
                    - id
                    properties:
                      id:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The ID of a customer profile, analogous to a "person" in the UI. If your workspace supports multiple identifiers (email and ID), this value can be null.
                        example: '42'
                      email:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The email address of the customer.
                        example: test@example.com
                      cio_id:
                        type: string
                        description: The canonical identifier for a person, present only if your workspace supports multiple identifiers (email and ID). This value exists to keep a record of a person in your workspace across changes to their other identifiers.
                        example: d9c106000001
              - title: Campaign
                type: object
                required:
                - campaign_id
                - delivery_id
                - action_id
                - identifiers
                properties:
                  campaign_id:
                    oneOf:
                    - x-scalar-ignore: true
                      description: The identifier for a campaign.
                      type: integer
                      example: 5
                    - type: 'null'
                  customer_id:
                    x-scalar-ignore: true
                    type: string
                    deprecated: true
                    description: 'The ID of the person the webhook event occurred to. Blank if the person in question has been deleted.


                      While webhooks may still contain this property, you should rely on the newer `identifiers` object wherever possible.

                      '
                    example: '42'
                  delivery_id:
                    x-scalar-ignore: true
                    type: string
                    description: The instance of a message sent to a person.
                    example: ZAIAAVTJVG0QcCok0-0ZKj6yiQ==
                  action_id:
                    x-scalar-ignore: true
                    description: The identifier for an action.
                    type: integer
                    readOnly: true
                    example: 96
                  journey_id:
                    x-scalar-ignore: true
                    type: string
                    description: The ID for the path a person went through in a Campaign or API Triggered Broadcast workflow.
                    example: 01GW20GXAAXBKZD8J96M8FNV3R
                  identifiers:
                    x-scalar-ignore: true
                    type: object
                    description: "The person the event represents. This object contains all of the identifiers available to people in your workspace, even if they aren't set. If your workspace supports multiple identifiers (email and ID), this object contains `id`, `email` (either of which can be null), and `cio_id`. \n\nOtherwise, if your workspace only supports ID, this object just contains the `id` of the person the event represents.\n"
                    required:
                    - id
                    properties:
                      id:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The ID of a customer profile, analogous to a "person" in the UI. If your workspace supports multiple identifiers (email and ID), this value can be null.
                        example: '42'
                      email:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The email address of the customer.
                        example: test@example.com
                      cio_id:
                        type: string
                        description: The canonical identifier for a person, present only if your workspace supports multiple identifiers (email and ID). This value exists to keep a record of a person in your workspace across changes to their other identifiers.
                        example: d9c106000001
                  parent_action_id:
                    x-scalar-ignore: true
                    type: integer
                    description: The ID of the parent action, if the action occurred within a campaign and has a parent (like a randomized split, etc).
                    example: 1
                    readOnly: true
                  trigger_event_id:
                    x-scalar-ignore: true
                    type: string
                    description: The id of the event that triggered an event-triggered campaign (not an API-triggered broadcast).
                    example: 21E4C3CT6YDC7Y4N7FE1GWWABC
              - title: Newsletter
                type: object
                required:
                - newsletter_id
                - delivery_id
                - identifiers
                properties:
                  customer_id:
                    x-scalar-ignore: true
                    type: string
                    deprecated: true
                    description: 'The ID of the person the webhook event occurred to. Blank if the person in question has been deleted.


                      While webhooks may still contain this property, you should rely on the newer `identifiers` object wherever possible.

                      '
                    example: '42'
                  delivery_id:
                    x-scalar-ignore: true
                    type: string
                    description: The instance of a message sent to a person.
                    example: ZAIAAVTJVG0QcCok0-0ZKj6yiQ==
                  newsletter_id:
                    oneOf:
                    - x-scalar-ignore: true
                      description: The identifier for a newsletter.
                      type: integer
                      example: 10
                    - type: 'null'
                  content_id:
                    x-scalar-ignore: true
                    description: The identifier for a newsletter variant.
                    type: integer
                    example: 3
                  identifiers:
                    x-scalar-ignore: true
                    type: object
                    description: "The person the event represents. This object contains all of the identifiers available to people in your workspace, even if they aren't set. If your workspace supports multiple identifiers (email and ID), this object contains `id`, `email` (either of which can be null), and `cio_id`. \n\nOtherwise, if your workspace only supports ID, this object just contains the `id` of the person the event represents.\n"
                    required:
                    - id
                    properties:
                      id:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The ID of a customer profile, analogous to a "person" in the UI. If your workspace supports multiple identifiers (email and ID), this value can be null.
                        example: '42'
                      email:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The email address of the customer.
                        example: test@example.com
                      cio_id:
                        type: string
                        description: The canonical identifier for a person, present only if your workspace supports multiple identifiers (email and ID). This value exists to keep a record of a person in your workspace across changes to their other identifiers.
                        example: d9c106000001
            - type: object
              required:
              - recipient
              - link_id
              - href
              properties:
                recipient:
                  type: string
                  description: The URL the webhook was sent to.
                href:
                  x-scalar-ignore: true
                  type: string
                  description: The URL of the link that a person clicked.
                  example: https://docs.customer.io
                link_id:
                  x-scalar-ignore: true
                  type: integer
                  description: The identifier for the tracked link that a person clicked or tapped.
                  example: 1
    email_sent:
      title: Email sent
      allOf:
      - x-scalar-ignore: true
        type: object
        required:
        - event_id
        - object_type
        - timestamp
        example:
          event_id: 01HXYZ1234567890ABCDEF
          object_type: email
          timestamp: 1713484800
        properties:
          event_id:
            x-scalar-ignore: true
            type: string
            description: The unique ID of the reporting webhook event being sent.
            example: 01E4C4CT6YDC7Y5M7FE1GWWPQJ
          object_type:
            type: string
            enum:
            - email
            description: The event relates to an email action.
          timestamp:
            x-scalar-ignore: true
            type: integer
            format: unix timestamp
            description: The unix timestamp when the event occurred.
            example: 1613063089
      - type: object
        required:
        - metric
        - data
        properties:
          metric:
            type: string
            enum:
            - sent
            description: A message was successfully sent. If you enabled the *Include body content and headers in all Sent events* option, the payload includes the `content` of your message and, for emails with custom headers, a `data.headers` object alongside `content`.
          data:
            description: Contains information about the event, specific to the `object_type` and `metric`.
            allOf:
            - x-scalar-ignore: true
              example:
                customer_id: user-123
                delivery_id: RPIyMTM6OjEyMzQ=
                action_id: 42
                campaign_id: 7
                journey_id: 15
                identifiers:
                  id: user-123
              oneOf:
              - title: API triggered broadcast
                required:
                - trigger_id
                - broadcast_id
                - delivery_id
                - action_id
                - identifiers
                type: object
                properties:
                  trigger_id:
                    x-scalar-ignore: true
                    type: integer
                    description: The trigger ID returned by the [Trigger Broadcast API](/api/#operation/triggerBroadcast).
                    example: 1
                  customer_id:
                    x-scalar-ignore: true
                    type: string
                    deprecated: true
                    description: 'The ID of the person the webhook event occurred to. Blank if the person in question has been deleted.


                      While webhooks may still contain this property, you should rely on the newer `identifiers` object wherever possible.

                      '
                    example: '42'
                  delivery_id:
                    x-scalar-ignore: true
                    type: string
                    description: The instance of a message sent to a person.
                    example: ZAIAAVTJVG0QcCok0-0ZKj6yiQ==
                  action_id:
                    x-scalar-ignore: true
                    description: The identifier for an action.
                    type: integer
                    readOnly: true
                    example: 96
                  broadcast_id:
                    oneOf:
                    - x-scalar-ignore: true
                      type: integer
                      description: The identifier for a broadcast.
                      example: 2
                    - type: 'null'
                  journey_id:
                    x-scalar-ignore: true
                    type: string
                    description: The ID for the path a person went through in a Campaign or API Triggered Broadcast workflow.
                    example: 01GW20GXAAXBKZD8J96M8FNV3R
                  parent_action_id:
                    x-scalar-ignore: true
                    type: integer
                    description: The ID of the parent action, if the action occurred within a campaign and has a parent (like a randomized split, etc).
                    example: 1
                    readOnly: true
                  identifiers:
                    x-scalar-ignore: true
                    type: object
                    description: "The person the event represents. This object contains all of the identifiers available to people in your workspace, even if they aren't set. If your workspace supports multiple identifiers (email and ID), this object contains `id`, `email` (either of which can be null), and `cio_id`. \n\nOtherwise, if your workspace only supports ID, this object just contains the `id` of the person the event represents.\n"
                    required:
                    - id
                    properties:
                      id:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The ID of a customer profile, analogous to a "person" in the UI. If your workspace supports multiple identifiers (email and ID), this value can be null.
                        example: '42'
                      email:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The email address of the customer.
                        example: test@example.com
                      cio_id:
                        type: string
                        description: The canonical identifier for a person, present only if your workspace supports multiple identifiers (email and ID). This value exists to keep a record of a person in your workspace across changes to their other identifiers.
                        example: d9c106000001
              - title: Campaign
                type: object
                required:
                - campaign_id
                - delivery_id
                - action_id
                - identifiers
                properties:
                  campaign_id:
                    oneOf:
                    - x-scalar-ignore: true
                      description: The identifier for a campaign.
                      type: integer
                      example: 5
                    - type: 'null'
                  customer_id:
                    x-scalar-ignore: true
                    type: string
                    deprecated: true
                    description: 'The ID of the person the webhook event occurred to. Blank if the person in question has been deleted.


                      While webhooks may still contain this property, you should rely on the newer `identifiers` object wherever possible.

                      '
                    example: '42'
                  delivery_id:
                    x-scalar-ignore: true
                    type: string
                    description: The instance of a message sent to a person.
                    example: ZAIAAVTJVG0QcCok0-0ZKj6yiQ==
                  action_id:
                    x-scalar-ignore: true
                    description: The identifier for an action.
                    type: integer
                    readOnly: true
                    example: 96
                  journey_id:
                    x-scalar-ignore: true
                    type: string
                    description: The ID for the path a person went through in a Campaign or API Triggered Broadcast workflow.
                    example: 01GW20GXAAXBKZD8J96M8FNV3R
                  identifiers:
                    x-scalar-ignore: true
                    type: object
                    description: "The person the event represents. This object contains all of the identifiers available to people in your workspace, even if they aren't set. If your workspace supports multiple identifiers (email and ID), this object contains `id`, `email` (either of which can be null), and `cio_id`. \n\nOtherwise, if your workspace only supports ID, this object just contains the `id` of the person the event represents.\n"
                    required:
                    - id
                    properties:
                      id:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The ID of a customer profile, analogous to a "person" in the UI. If your workspace supports multiple identifiers (email and ID), this value can be null.
                        example: '42'
                      email:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The email address of the customer.
                        example: test@example.com
                      cio_id:
                        type: string
                        description: The canonical identifier for a person, present only if your workspace supports multiple identifiers (email and ID). This value exists to keep a record of a person in your workspace across changes to their other identifiers.
                        example: d9c106000001
                  parent_action_id:
                    x-scalar-ignore: true
                    type: integer
                    description: The ID of the parent action, if the action occurred within a campaign and has a parent (like a randomized split, etc).
                    example: 1
                    readOnly: true
                  trigger_event_id:
                    x-scalar-ignore: true
                    type: string
                    description: The id of the event that triggered an event-triggered campaign (not an API-triggered broadcast).
                    example: 21E4C3CT6YDC7Y4N7FE1GWWABC
              - title: Newsletter
                type: object
                required:
                - newsletter_id
                - delivery_id
                - identifiers
                properties:
                  customer_id:
                    x-scalar-ignore: true
                    type: string
                    deprecated: true
                    description: 'The ID of the person the webhook event occurred to. Blank if the person in question has been deleted.


                      While webhooks may still contain this property, you should rely on the newer `identifiers` object wherever possible.

                      '
                    example: '42'
                  delivery_id:
                    x-scalar-ignore: true
                    type: string
                    description: The instance of a message sent to a person.
                    example: ZAIAAVTJVG0QcCok0-0ZKj6yiQ==
                  newsletter_id:
                    oneOf:
                    - x-scalar-ignore: true
                      description: The identifier for a newsletter.
                      type: integer
                      example: 10
                    - type: 'null'
                  content_id:
                    x-scalar-ignore: true
                    description: The identifier for a newsletter variant.
                    type: integer
                    example: 3
                  identifiers:
                    x-scalar-ignore: true
                    type: object
                    description: "The person the event represents. This object contains all of the identifiers available to people in your workspace, even if they aren't set. If your workspace supports multiple identifiers (email and ID), this object contains `id`, `email` (either of which can be null), and `cio_id`. \n\nOtherwise, if your workspace only supports ID, this object just contains the `id` of the person the event represents.\n"
                    required:
                    - id
                    properties:
                      id:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The ID of a customer profile, analogous to a "person" in the UI. If your workspace supports multiple identifiers (email and ID), this value can be null.
                        example: '42'
                      email:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The email address of the customer.
                        example: test@example.com
                      cio_id:
                        type: string
                        description: The canonical identifier for a person, present only if your workspace supports multiple identifiers (email and ID). This value exists to keep a record of a person in your workspace across changes to their other identifiers.
                        example: d9c106000001
              - title: Transactional message
                type: object
                required:
                - transactional_message_id
                - delivery_id
                - identifiers
                properties:
                  customer_id:
                    x-scalar-ignore: true
                    type: string
                    deprecated: true
                    description: 'The ID of the person the webhook event occurred to. Blank if the person in question has been deleted.


                      While webhooks may still contain this property, you should rely on the newer `identifiers` object wherever possible.

                      '
                    example: '42'
                  delivery_id:
                    x-scalar-ignore: true
                    type: string
                    description: The instance of a message sent to a person.
                    example: ZAIAAVTJVG0QcCok0-0ZKj6yiQ==
                  identifiers:
                    x-scalar-ignore: true
                    type: object
                    description: "The person the event represents. This object contains all of the identifiers available to people in your workspace, even if they aren't set. If your workspace supports multiple identifiers (email and ID), this object contains `id`, `email` (either of which can be null), and `cio_id`. \n\nOtherwise, if your workspace only supports ID, this object just contains the `id` of the person the event represents.\n"
                    required:
                    - id
                    properties:
                      id:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The ID of a customer profile, analogous to a "person" in the UI. If your workspace supports multiple identifiers (email and ID), this value can be null.
                        example: '42'
                      email:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The email address of the customer.
                        example: test@example.com
                      cio_id:
                        type: string
                        description: The canonical identifier for a person, present only if your workspace supports multiple identifiers (email and ID). This value exists to keep a record of a person in your workspace across changes to their other identifiers.
                        example: d9c106000001
                  transactional_message_id:
                    description: The transactional message template you used for your message.
            - type: object
              required:
              - recipient
              - subject
              properties:
                content:
                  type: string
                  description: The body content of your email. This key only appears if you enabled the *Include body content and headers in all Sent events* (*Body Content*) option when setting up your webhook.
                headers:
                  type: object
                  description: The headers sent with your email, as a map of header name to an array of values. This key only appears if you enabled the *Include body content and headers in all Sent events* (*Body Content*) option when setting up your webhook and the message included custom headers. This is a sibling of `content`—it is not nested inside it.
                  additionalProperties:
                    type: array
                    items:
                      type: string
                  example:
                    Customheader1:
                    - customvalue1
                subject:
                  type: string
                  description: The subject of the email.
                recipient:
                  x-scalar-ignore: true
                  description: The recipient address for an action.
                  type: string
                  example: test@example.com
    email_delivered:
      title: Email delivered
      allOf:
      - x-scalar-ignore: true
        type: object
        required:
        - event_id
        - object_type
        - timestamp
        example:
          event_id: 01HXYZ1234567890ABCDEF
          object_type: email
          timestamp: 1713484800
        properties:
          event_id:
            x-scalar-ignore: true
            type: string
            description: The unique ID of the reporting webhook event being sent.
            example: 01E4C4CT6YDC7Y5M7FE1GWWPQJ
          object_type:
            type: string
            enum:
            - email
            description: The event relates to an email action.
          timestamp:
            x-scalar-ignore: true
            type: integer
            format: unix timestamp
            description: The unix timestamp when the event occurred.
            example: 1613063089
      - type: object
        required:
        - metric
        - data
        properties:
          metric:
            type: string
            enum:
            - delivered
            description: A message was successfully delivered to a recipient.
          data:
            description: Contains information about the event, specific to the `object_type` and `metric`.
            allOf:
            - x-scalar-ignore: true
              example:
                customer_id: user-123
                delivery_id: RPIyMTM6OjEyMzQ=
                action_id: 42
                campaign_id: 7
                journey_id: 15
                identifiers:
                  id: user-123
              oneOf:
              - title: API triggered broadcast
                required:
                - trigger_id
                - broadcast_id
                - delivery_id
                - action_id
                - identifiers
                type: object
                properties:
                  trigger_id:
                    x-scalar-ignore: true
                    type: integer
                    description: The trigger ID returned by the [Trigger Broadcast API](/api/#operation/triggerBroadcast).
                    example: 1
                  customer_id:
                    x-scalar-ignore: true
                    type: string
                    deprecated: true
                    description: 'The ID of the person the webhook event occurred to. Blank if the person in question has been deleted.


                      While webhooks may still contain this property, you should rely on the newer `identifiers` object wherever possible.

                      '
                    example: '42'
                  delivery_id:
                    x-scalar-ignore: true
                    type: string
                    description: The instance of a message sent to a person.
                    example: ZAIAAVTJVG0QcCok0-0ZKj6yiQ==
                  action_id:
                    x-scalar-ignore: true
                    description: The identifier for an action.
                    type: integer
                    readOnly: true
                    example: 96
                  broadcast_id:
                    oneOf:
                    - x-scalar-ignore: true
                      type: integer
                      description: The identifier for a broadcast.
                      example: 2
                    - type: 'null'
                  journey_id:
                    x-scalar-ignore: true
                    type: string
                    description: The ID for the path a person went through in a Campaign or API Triggered Broadcast workflow.
                    example: 01GW20GXAAXBKZD8J96M8FNV3R
                  parent_action_id:
                    x-scalar-ignore: true
                    type: integer
                    description: The ID of the parent action, if the action occurred within a campaign and has a parent (like a randomized split, etc).
                    example: 1
                    readOnly: true
                  identifiers:
                    x-scalar-ignore: true
                    type: object
                    description: "The person the event represents. This object contains all of the identifiers available to people in your workspace, even if they aren't set. If your workspace supports multiple identifiers (email and ID), this object contains `id`, `email` (either of which can be null), and `cio_id`. \n\nOtherwise, if your workspace only supports ID, this object just contains the `id` of the person the event represents.\n"
                    required:
                    - id
                    properties:
                      id:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The ID of a customer profile, analogous to a "person" in the UI. If your workspace supports multiple identifiers (email and ID), this value can be null.
                        example: '42'
                      email:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The email address of the customer.
                        example: test@example.com
                      cio_id:
                        type: string
                        description: The canonical identifier for a person, present only if your workspace supports multiple identifiers (email and ID). This value exists to keep a record of a person in your workspace across changes to their other identifiers.
                        example: d9c106000001
              - title: Campaign
                type: object
                required:
                - campaign_id
                - delivery_id
                - action_id
                - identifiers
                properties:
                  campaign_id:
                    oneOf:
                    - x-scalar-ignore: true
                      description: The identifier for a campaign.
                      type: integer
                      example: 5
                    - type: 'null'
                  customer_id:
                    x-scalar-ignore: true
                    type: string
                    deprecated: true
                    description: 'The ID of the person the webhook event occurred to. Blank if the person in question has been deleted.


                      While webhooks may still contain this property, you should rely on the newer `identifiers` object wherever possible.

                      '
                    example: '42'
                  delivery_id:
                    x-scalar-ignore: true
                    type: string
                    description: The instance of a message sent to a person.
                    example: ZAIAAVTJVG0QcCok0-0ZKj6yiQ==
                  action_id:
                    x-scalar-ignore: true
                    description: The identifier for an action.
                    type: integer
                    readOnly: true
                    example: 96
                  journey_id:
                    x-scalar-ignore: true
                    type: string
                    description: The ID for the path a person went through in a Campaign or API Triggered Broadcast workflow.
                    example: 01GW20GXAAXBKZD8J96M8FNV3R
                  identifiers:
                    x-scalar-ignore: true
                    type: object
                    description: "The person the event represents. This object contains all of the identifiers available to people in your workspace, even if they aren't set. If your workspace supports multiple identifiers (email and ID), this object contains `id`, `email` (either of which can be null), and `cio_id`. \n\nOtherwise, if your workspace only supports ID, this object just contains the `id` of the person the event represents.\n"
                    required:
                    - id
                    properties:
                      id:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The ID of a customer profile, analogous to a "person" in the UI. If your workspace supports multiple identifiers (email and ID), this value can be null.
                        example: '42'
                      email:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The email address of the customer.
                        example: test@example.com
                      cio_id:
                        type: string
                        description: The canonical identifier for a person, present only if your workspace supports multiple identifiers (email and ID). This value exists to keep a record of a person in your workspace across changes to their other identifiers.
                        example: d9c106000001
                  parent_action_id:
                    x-scalar-ignore: true
                    type: integer
                    description: The ID of the parent action, if the action occurred within a campaign and has a parent (like a randomized split, etc).
                    example: 1
                    readOnly: true
                  trigger_event_id:
                    x-scalar-ignore: true
                    type: string
                    description: The id of the event that triggered an event-triggered campaign (not an API-triggered broadcast).
                    example: 21E4C3CT6YDC7Y4N7FE1GWWABC
              - title: Newsletter
                type: object
                required:
                - newsletter_id
                - delivery_id
                - identifiers
                properties:
                  customer_id:
                    x-scalar-ignore: true
                    type: string
                    deprecated: true
                    description: 'The ID of the person the webhook event occurred to. Blank if the person in question has been deleted.


                      While webhooks may still contain this property, you should rely on the newer `identifiers` object wherever possible.

                      '
                    example: '42'
                  delivery_id:
                    x-scalar-ignore: true
                    type: string
                    description: The instance of a message sent to a person.
                    example: ZAIAAVTJVG0QcCok0-0ZKj6yiQ==
                  newsletter_id:
                    oneOf:
                    - x-scalar-ignore: true
                      description: The identifier for a newsletter.
                      type: integer
                      example: 10
                    - type: 'null'
                  content_id:
                    x-scalar-ignore: true
                    description: The identifier for a newsletter variant.
                    type: integer
                    example: 3
                  identifiers:
                    x-scalar-ignore: true
                    type: object
                    description: "The person the event represents. This object contains all of the identifiers available to people in your workspace, even if they aren't set. If your workspace supports multiple identifiers (email and ID), this object contains `id`, `email` (either of which can be null), and `cio_id`. \n\nOtherwise, if your workspace only supports ID, this object just contains the `id` of the person the event represents.\n"
                    required:
                    - id
                    properties:
                      id:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The ID of a customer profile, analogous to a "person" in the UI. If your workspace supports multiple identifiers (email and ID), this value can be null.
                        example: '42'
                      email:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The email address of the customer.
                        example: test@example.com
                      cio_id:
                        type: string
                        description: The canonical identifier for a person, present only if your workspace supports multiple identifiers (email and ID). This value exists to keep a record of a person in your workspace across changes to their other identifiers.
                        example: d9c106000001
              - title: Transactional message
                type: object
                required:
                - transactional_message_id
                - delivery_id
                - identifiers
                properties:
                  customer_id:
                    x-scalar-ignore: true
                    type: string
                    deprecated: true
                    description: 'The ID of the person the webhook event occurred to. Blank if the person in question has been deleted.


                      While webhooks may still contain this property, you should rely on the newer `identifiers` object wherever possible.

                      '
                    example: '42'
                  delivery_id:
                    x-scalar-ignore: true
                    type: string
                    description: The instance of a message sent to a person.
                    example: ZAIAAVTJVG0QcCok0-0ZKj6yiQ==
                  identifiers:
                    x-scalar-ignore: true
                    type: object
                    description: "The person the event represents. This object contains all of the identifiers available to people in your workspace, even if they aren't set. If your workspace supports multiple identifiers (email and ID), this object contains `id`, `email` (either of which can be null), and `cio_id`. \n\nOtherwise, if your workspace only supports ID, this object just contains the `id` of the person the event represents.\n"
                    required:
                    - id
                    properties:
                      id:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The ID of a customer profile, analogous to a "person" in the UI. If your workspace supports multiple identifiers (email and ID), this value can be null.
                        example: '42'
                      email:
                        x-scalar-ignore: true
                        type:
                        - string
                        - 'null'
                        description: The email address of the customer.
                        example: test@example.com
                      cio_id:
                        type: string
                        description: The canonical identifier for a person, present only if your workspace supports multiple identifiers (email and ID). This value exists to keep a record of a person in your workspace across changes to their other identifiers.
                        example: d9c106000001
                  transactional_message_id:
                    description: The transactional message template you used for your message.
            - type: object
              required:
              - recipient
              - subject
              properties:
                subject:
                  type: string
                  description: The subject of the email.
                recipient:
                  x-scalar-ignore: true
                  description: The recipient address for an action.
                  type: string
                  example: test@example.com
    push_opened:
      title: Push opened
      allOf:
      - x-scalar-ignore: true
        type: object
        required:
        - event_id
        - object_type
        - timestamp
        properties:
          event_id:
            x-scalar-ignore: true
            type: string
            description: The unique ID of the reporting webhook event being sent.
            example: 01E4C4CT6YDC7Y5M7FE1GWWPQJ
          object_type:
            type: string
            enum:
            - push
            description: The event relates to an push notification.
          timestamp:
            x-scalar-ignore: true
            type: integer
            format: unix timestamp
            description: The unix timestamp when the event occurred.
            example: 1613063089
      - type: object
        required:
        - metric
        - data
        properties:
          metric:
            type: string
            enum:
            - opened
            description: A device opened a push notification.
          data:
            allOf:
            - x-scalar-ignore: true
              example:
                customer_id: user-123
                delivery_id: RPIyMTM6OjEyMzQ=
                action_id: 42
                campaign_id: 7
                journey_id: 15
                identifiers:
                  id: user-123
              oneOf:
              - title: API triggered broadcast
                required:
                - trigger_id
                - broadcast_id
                - delivery_id
                - action_id
                - identifiers
                type: object
                properties:
                  trigger_id:
                    x-scalar-ignore: true
                    type: integer
                    description: The trigger ID returned by the [Trigger Broadcast API](/api/#operation/triggerBroadcast).
                    example: 1
                  customer_id:
                    x-scalar-ignore: true
                    type: string
                    deprecated: true
                    description: 'The ID of the person the webhook event occurred to. Blank if the person in question has been deleted.


                      While webhooks may still contain this property, you should rely on the newer `identifiers` object wherever possible.

                      '
                    example: '42'
                  delivery_id:
                    x-scalar-ignore: true
                    type: string
                    description: The instance of a message sent to a person.
                    example: ZAIAAVTJVG0QcCok0-0ZKj6yiQ==
                  action_id:
                    x-scalar-ignore: true
                    description: The identifier for an action.
                    type: integer
                    readOnly: true
                    example: 96
                  broadcast_id:
                    oneOf:
                    - x-scalar-ignore: true
                      type: integer
                      description: The identifier for a broadcast.
                      example: 2
                    - type: 'null'
                  journey_id:
                    x-scalar-ignore: true
                    type: string
                    description: The ID for the path a person went through in a Campaign or API Triggered Broadcast workflow.
                    example: 01GW20GXAAXBKZD8J96M8FNV3R
                  parent_action_id:
                    x-scalar-ignore: true
                    type: integer
[...]
