openapi: 3.2.0
info:
  version: 1.0.0
  title: Pipelines Alias API
  description: '# Overview

    In general, you''ll consume this API through one of our source libraries—our JavaScript client library or any of our server packages.'
servers:
- url: https://cdp.customer.io/v1
  description: The base URL for all Data Pipelines calls in our United States (US) region.
- url: https://cdp-eu.customer.io/v1
  description: The base URL for all Data Pipelines calls in our European Union (EU) region.
tags:
- name: Alias
paths:
  /alias:
    post:
      operationId: alias
      summary: Merge profiles
      description: '*You **only** need to use this method to support a few select destinations like Mixpanel.*


        The `alias` method reconciles identifiers in systems that don''t automatically handle identity changes—like when a person graduates from an anonymous user to an identified user.


        For example, a person typically has an `anonymousId` until you identify them by `userId`. Most destinations will automatically associate data from the anonymous ID with the new user ID when you send an `identify` call. But a select few destinations, like Mixpanel, won''t! The `alias` call tells Mixpanel to represent the `anonymousId` with the new `userId`.


        If you need to use the `alias` call, you''ll want to send it before you identify someone with a `userId`.


        If you use our web or server-side libraries, and you''ve already identified someone, we assume that this is the `userId` that you want to keep. Otherwise, you need to pass both the `previousId` and the `userId`.


        **When you use our libraries, you''ll typically only provide the `previousId` and `userId`. The libraries fill in the rest of the payload automatically.**'
      servers:
      - url: https://cdp.customer.io/v1
        description: This is a Data Pipeline API.
      security:
      - Basic-Auth: []
      parameters:
      - name: X-Strict-Mode
        in: header
        description: 'When set to `1`, enables strict validation that returns proper HTTP error codes (400/401) for validation failures. When not set or set to any other value, the API operates in permissive mode, logging errors but returning HTTP 200. [Learn more](/integrations/api/track-vs-cdp-api#pipelines-strict-mode)

          '
        required: false
        schema:
          type: string
          enum:
          - '1'
        example: '1'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/alias'
      x-codeSamples:
      - lang: json
        label: JSON
        source: "{\n  \"previousId\": \"string\",\n  \"userId\": \"string\"\n}"
      - label: Curl
        lang: shell
        source: "curl --request POST \\\n  --url https://cdp.customer.io/v1/alias \\\n  -u api_key: \\\n  -H 'content-type: application/json' \\\n  -d '{\"previousId\":\"23adfd82-aa0f-45a7-a756-24f2a7a4c895\",\"userId\":\"97980cfea0067\"}'\n"
      - label: JavaScript (SDK)
        lang: javascript
        source: 'analytics.alias("old-id","new-id");

          '
      - label: Node.js (SDK)
        lang: javascript
        source: 'analytics.alias({ previousId: ''anonymous_user'', userId: ''identified@example.com'' })

          '
      - label: Python (SDK)
        lang: python
        source: 'analytics.alias(previous_id, user_id)

          '
      - label: Go (SDK)
        lang: go
        source: "client.Enqueue(analytics.Alias{\n  PreviousId: anonymousUser,\n  UserId:     \"019mr8mf4r\",\n})\n"
      responses:
        '200':
          $ref: '#/components/responses/200'
      tags:
      - Alias
components:
  responses:
    '200':
      description: A successful request returns an empty object response.
  schemas:
    alias:
      x-scalar-ignore: true
      type: object
      required:
      - previousId
      - userId
      properties:
        type:
          type: string
          readOnly: true
          enum:
          - alias
          description: The event type. This is set automatically by the request method/endpoint.
        previousId:
          type: string
          description: The anonymousId or userId value that you want to merge into the canonical profile.
        userId:
          type: string
          description: 'The userId that you want to keep. This is required if you haven''t already identified someone with one of our web or server-side libraries.

            '
  securitySchemes:
    Basic-Auth:
      type: http
      scheme: basic
      description: 'The Data Pipelines API uses a basic authentication scheme with your API key. Because basic authorization typically expects a username and password combination, you''ll use the API Key as the username and leave the password blank—base64 encoding your credentials in the format `API_key:`.

        '
