{
  "openapi": "3.1.0",
  "info": {
    "version": "1.0.0",
    "title": "Pipelines API",
    "description": "# Overview\nIn general, you'll consume this API through one of our source libraries—our JavaScript client library or any of our server packages. But you can also integrate directly with our REST API if you don't want to install one of our libraries or you want to support a source that we don't have a native integration with.\n\n# Server addresses: US and EU\nCustomer.io hosts services in the United States (US) and European Union. Select the appropriate server address for your region.\n\n| Region | Server Address |\n| :-- | :-- |\n| US | https://cdp.customer.io |\n| EU | https://cdp-eu.customer.io |\n\nIf you're in our EU region, you'll need to specify the EU URL when you initialize our server-side libraries. If you use our JavaScript client library, we'll set your region and route data/calls automatically.\n\n# Get an API key\n\n1. Go to the <svg class=\"icon\"><use href=\"#connection\" /></svg> tab and click **Sources**.\n1. Click **Add Source**, pick **HTTP**, and click **Next**.\n1. Give the source a *Name* and copy your *API Key*. You'll use this key to authenticate with our API. If you don't copy the key now, you can always get it later from the *Settings* tab when you're done setting up your source.\n1. (Optional) Test your connection by sending a test call. You can copy your API key into an app like Postman or send a CURL request. If your request is successful, and then you click *Test Connection* we'll let you know if your request was successful and you've set up your HTTP implementation successfully.\n1. Click **Submit**.\n\nNow you can use the key as a username with a blank password to authenticate and send requests to our API.\n\n# Authentication & rate limits\n\nOur API uses basic authorization with an API Key provided when you set up a source. If you use Postman or another platform that helps you send API calls, this API key is the *Username*, and the *Password* is blank.\n\nOur sources are all authenticated using a **API Key** that we generate when you create a source.\n\n\n## Rate and payload limits\n\nA request is limited to 32KB. A batch request is limited to 500KB total and 32KB per call in the request. If a request exceeds these limits, you will receive a 200 response, but the request will not go through.\n\nThe Data Pipelines API has a rate limit of 3000 requests per 3 seconds for both active data integrations and historical backfill scripts. This limit applies to both our v1 and v2 APIs.\n\nWhile this rate is not strictly enforced, consistently exceeding it may lead to throttling or dropped data, especially during periods of high system load. If we detect a sustained high volume that could impact other customers, we may contact you to help adjust your integration or, in rare cases, temporarily block requests.\n\n<div class=\"fly-panel fly-light regionUS\">\n<div class=\"fly-panel-body us-server\">\n<p class=\"text--bold\">Warning</p>\n<p>Rate limits are subject to change. We may adjust these thresholds to ensure stable performance for all customers.</p>\n</div></div>\n\n# Try out our postman collection\n\nWe've generated a Postman collection with all of the endpoints organized as you'll find them on this page, with a starter environment (mainly to contain your API key). For our API endpoints, **your API key is your username and your password is blank**.\n\nYou'll notice that payloads on this page can contain significantly more information than the payloads that appear in our collection. We've limited our collections to the fields that you'll _typically_ use when you send calls to our APIs and libraries, so it's easier to get started. But you can add additional fields to payloads—like `context`, `integrations`, and so on—if you want.\n\nIf you fork this collection, you might want to disable the *Watch original collection* option. We automatically update our Postman collection whenever we release changes to our documentation, even if we don't change our APIs—which happens daily! Rather than being flooded with Postman notifications, you can check out our [Release Notes](/release-notes/) for updates to our APIs.\n\n[<img src=\"https://run.pstmn.io/button.svg\" alt=\"Run In Postman\" style=\"width: 128px; height: 32px;\">](https://god.gw.postman.com/run-collection/23697545-287dd370-3d8b-4a71-80fe-75d6b7c7ff61?action=collection%2Ffork&source=rip_markdown&collection-url=entityId%3D23697545-287dd370-3d8b-4a71-80fe-75d6b7c7ff61%26entityType%3Dcollection%26workspaceId%3D35e4a70d-66bd-4b3e-8a0c-57f9e32080dc#?env%5BCustomer.io%20Data%20Pipelines%20API%20Environment%5D=W3sia2V5IjoiY2RwX2FwaV91cmwiLCJ0eXBlIjoiZGVmYXVsdCIsInZhbHVlIjoiY2RwLmN1c3RvbWVyLmlvIiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJ3cml0ZV9rZXkiLCJ0eXBlIjoic2VjcmV0IiwidmFsdWUiOiIiLCJlbmFibGVkIjp0cnVlfV0=)\n\n# Deletions, suppressions, and other semantic events\n\nYou'll notice that this API only contains `POST` calls; we don't have `DELETE` operations. For delete operations, and other operations that don't have bespoke endpoints, we use *semantic events*.\n\nWhen you need to do things like deleting people, removing relationships, and other sorts of things, you'll send a request to the `/track` endpoint with a specific event `name` parameter. The `name` tells us what to do with the request.\n\nFor example, you can send a `track` event with the name `Delete Person` to remove a person from your workspace.\n\nSee [Semantic Events](/integrations/data-in/semantic-events/cio-journeys/) to see Customer.io-specific events.\n\nWe also support semantic events for other kinds of destinations. See [Semantic Events for other destinations](#semantic-events-for-other-destinations) below for more information.\n\n| Event Name | Description |\n|------|--------|\n| `Device Created or Updated` | Adds or updates a mobile device (by token), and associates it with a person |\n| `Device Deleted` | Deletes a device |\n| `User Deleted` | Removes a person from your workspace |\n| `User Suppressed` | Removes a person from your workspace and suppresses their identifiers so you can't add them back to Customer.io. |\n| `User Unsuppressed` | Unsuppresses an identifier so you can add someone back to Customer.io and message them again. |\n| `Relationship Deleted` | Remove a relationship between a person and an object|\n| `Object Deleted` | Remove an object (like an account or company) from your Customer.io workspace|\n| `Report Delivery Event` | Report delivery events for messages|\n\n## Semantic events for other destinations\n\nIn addition to events that have special meanings [in Customer.io](#customerio-semantic-events), we have a number of other events that we support across different kinds of destinations. These uniform events ensure that we'll map event data to destinations consistently—so you can move from one provider to another without having to change your event names or payload structures.\n\nFor example, our ecommerce events work across any ecommerce platform we integrate with—even if those ecommerce platforms have different APIs or payload structures.\n\nSee [Semantic Events](/integrations/data-in/semantic-events/getting-started/) to learn more.\n\n* [A/B Test](/integrations/api/cdp/ab-test/)\n* [Ecommerce](/integrations/api/cdp/ecommerce/)\n* [Email](/integrations/api/cdp/email/)\n* [Live Chat](/integrations/api/cdp/live-chat/)\n* [Mobile App](/integrations/api/cdp/mobile-app/)\n* [Video](/integrations/api/cdp/video/)\n\n## Backfilling data\n\nBy default, Customer.io records a `timestamp` when we receive requests. If you're sending data to Customer.io in real time, you don't need to worry about the timestamp.\n\nIf you want to backfill requests, you can send a `timestamp`—an ISO 8601 date-time string—telling us when the request occurred. This provides a way to log `track` and `page` calls when the activities _actually_ took place.\n"
  },
  "servers": [
    {
      "url": "https://cdp.customer.io/v1",
      "description": "The base URL for all Data Pipelines calls in our United States (US) region."
    },
    {
      "url": "https://cdp-eu.customer.io/v1",
      "description": "The base URL for all Data Pipelines calls in our European Union (EU) region."
    }
  ],
  "paths": {
    "/identify": {
      "post": {
        "operationId": "identify",
        "summary": "Add and Update People",
        "description": "Identifies a person and assigns `traits` to them.\n\nIn most cases, you'll identify people with a `userId` or an `anonymousId`. But when you use Customer.io as a destination, you can pass an empty `userId` or `anonymousId`, and identify people by their `email` trait.\n\n**When you use our libraries, you'll typically only provide an ID and `traits`. The libraries fill in the rest of the payload automatically.**\n",
        "servers": [
          {
            "url": "https://cdp.customer.io/v1",
            "description": "This is a Data Pipeline API."
          }
        ],
        "security": [
          {
            "Basic-Auth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Strict-Mode",
            "in": "header",
            "description": "When set to `1`, enables strict validation that returns proper HTTP error codes (400/401) for validation failures. When not set or set to any other value, the API operates in permissive mode, logging errors but returning HTTP 200. [Learn more](/integrations/api/track-vs-cdp-api#pipelines-strict-mode)\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            },
            "example": "1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/identify"
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "json",
            "label": "JSON",
            "source": "{\n  \"type\": \"identify\",\n  \"traits\": {\n    \"name\": \"Cool Person\",\n    \"email\": \"cool.person@example.com\",\n    \"likes_baseball\": true,\n    \"games_attended\": 5\n  },\n  \"userId\": \"97980cfea0067\"\n}"
          },
          {
            "label": "Curl",
            "lang": "shell",
            "source": "curl --request POST \\\n  --url https://cdp.customer.io/v1/identify \\\n  -u api_key: \\\n  -H 'content-type: application/json' \\\n  --data-raw '\n  {\n      \"userId\": \"97980cfea0067\",\n      \"traits\": {\n          \"name\": \"Cool Person\",\n          \"email\": \"cool.person@example.com\",\n          \"likes_baseball\": true,\n          \"games_attended\": 5\n      }\n  }'\n"
          },
          {
            "label": "JavaScript (SDK)",
            "lang": "javascript",
            "source": "analytics.identify(\"97980cfea0067\", {\n  name: \"Cool Person\",\n  email: \"cool.person@example.com\",\n  likes_baseball: true,\n  games_attended: 5\n});\n"
          },
          {
            "label": "Node.js (SDK)",
            "lang": "javascript",
            "source": "analytics.identify({\n  userId: '019mr8mf4r',\n  traits: {\n    name: 'Cool Person',\n    email: 'cool.person@example.com',\n    plan: 'Enterprise',\n    friends: 42\n  }\n});\n"
          },
          {
            "label": "Python (SDK)",
            "lang": "python",
            "source": "analytics.identify('f4ca124298', {\n  email: 'cool.person@example.com'\n  first_name: 'cool',\n  last_name: 'person'\n})\n"
          },
          {
            "label": "Go (SDK)",
            "lang": "go",
            "source": "client.Enqueue(analytics.Identify{\n  UserId: \"019mr8mf4r\",\n  Traits: analytics.NewTraits().\n    SetName(\"Cool Person\").\n    SetEmail(\"cool.person@example.com\").\n    Set(\"plan\", \"Enterprise\").\n    Set(\"fav_number\", 42),\n})\n"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          }
        }
      }
    },
    "/track": {
      "post": {
        "operationId": "track",
        "summary": "Track events",
        "description": "Send an event associated with a person. The `track` call is how you record the things that people do on your website or in your app.\n\nWhile this endpoint takes any `event` name you want to send, Customer.io also supports \"semantic events.\" These are specific `event` names (like `User Deleted` or `Device Created or Updated`) that perform special operations in Customer.io like deleting people, adding mobile devices to profiles, and so on. See the [Customer.io Semantic Events documentation](/integrations/api/cdp/customerio/) for complete schemas and examples.\n\n**When you use our libraries, you'll typically only provide an `event`, an ID for the person, and `properties`. The libraries fill in the rest of the payload automatically.**\n",
        "servers": [
          {
            "url": "https://cdp.customer.io/v1",
            "description": "This is a Data Pipeline API."
          }
        ],
        "security": [
          {
            "Basic-Auth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Strict-Mode",
            "in": "header",
            "description": "When set to `1`, enables strict validation that returns proper HTTP error codes (400/401) for validation failures. When not set or set to any other value, the API operates in permissive mode, logging errors but returning HTTP 200. [Learn more](/integrations/api/track-vs-cdp-api#pipelines-strict-mode)\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            },
            "example": "1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/track"
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "json",
            "label": "JSON",
            "source": "{\n  \"anonymousId\": \"23adfd82-aa0f-45a7-a756-24f2a7a4c895\",\n  \"context\": {\n    \"library\": {\n      \"name\": \"analytics.js\",\n      \"version\": \"2.11.1\"\n    },\n    \"page\": {\n      \"path\": \"/\",\n      \"referrer\": \"https://www.google.com/\",\n      \"search\": \"?q=analytics\",\n      \"title\": \"Customer.io Docs\",\n      \"url\": \"https://docs.customer.io\"\n    },\n    \"userAgent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_0) AppleWebKit/537.36 (KHTML like Gecko) Chrome/46.0.2490.86 Safari/537.36\",\n    \"ip\": \"108.0.78.21\"\n  },\n  \"event\": \"Course Started\",\n  \"integrations\": null,\n  \"messageId\": \"ajs-f8ca1e4de5024d9430b3928bd8ac6b96\",\n  \"properties\": {\n    \"title\": \"Intro to Customer.io\"\n  },\n  \"receivedAt\": \"2015-12-12T19:11:01.266Z\",\n  \"sentAt\": \"2015-12-12T19:11:01.169Z\",\n  \"timestamp\": \"2015-12-12T19:11:01.249Z\",\n  \"type\": \"track\",\n  \"userId\": \"AiUGstSDIg\",\n  \"originalTimestamp\": \"2015-12-12T19:11:01.152Z\"\n}"
          },
          {
            "label": "Curl",
            "lang": "shell",
            "source": "curl --request POST \\\n  --url https://cdp.customer.io/v1/track \\\n  -u api_key: \\\n  -H 'content-type: application/json' \\\n  --data-raw '\n  {\n      \"userId\": \"97980cfea0067\",\n      \"event\": \"Course Started\",\n      \"properties\": {\n          \"title\": \"Intro to Customer.io\"\n      }\n  }'\n"
          },
          {
            "label": "JavaScript (SDK)",
            "lang": "javascript",
            "source": "analytics.track(\"video_watched\", {\n  video_name: \"Cool New Video\"\n  length: 1.56\n  speed: 1.25\n  finished: false\n});\n"
          },
          {
            "label": "Node.js (SDK)",
            "lang": "javascript",
            "source": "analytics.track({\n  userId: '019mr8mf4r',\n  event: 'added_to_cart',\n  properties: {\n    product: \"shoes\",\n    revenue: 39.95,\n    qty: 1,\n    size: 9\n  }\n});\n"
          },
          {
            "label": "Python (SDK)",
            "lang": "python",
            "source": "analytics.track('f4ca124298', 'class_started', {\n  title: 'How to use Customer.io',\n  progress: '2%',\n  category: 'getting started'\n})\n"
          },
          {
            "label": "Go (SDK)",
            "lang": "go",
            "source": "client.Enqueue(analytics.Track{\n  UserId: \"f4ca124298\",\n  Event:  \"added_to_cart\",\n  Properties: analytics.NewProperties().\n    Set(\"product\", \"shoes\"),\n    Set(\"price\", 39.95),\n})\n"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          }
        }
      }
    },
    "/page": {
      "post": {
        "operationId": "page",
        "summary": "Track pageviews",
        "description": "Sends a page view event. If you use our JavaScript source, it automatically records `page` events whenever it loads (every page). If you use a single-page app, you'll need to call the `page` method people change routes.\n\nThe request consists of the page `name` and additional properties about the page.\n\nIf you use our JavaScript library, the page name and URL are automatically gathered and passed as event properties.\n\n**When you use our libraries, you'll typically only provide a user ID/anonymous ID and the `name` of the page. The libraries fill in the rest of the payload automatically.**\n",
        "servers": [
          {
            "url": "https://cdp.customer.io/v1",
            "description": "This is a Data Pipeline API."
          }
        ],
        "security": [
          {
            "Basic-Auth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Strict-Mode",
            "in": "header",
            "description": "When set to `1`, enables strict validation that returns proper HTTP error codes (400/401) for validation failures. When not set or set to any other value, the API operates in permissive mode, logging errors but returning HTTP 200. [Learn more](/integrations/api/track-vs-cdp-api#pipelines-strict-mode)\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            },
            "example": "1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/page"
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "json",
            "label": "JSON",
            "source": "{\n  \"anonymousId\": \"507f191e810c19729de860ea\",\n  \"channel\": \"browser\",\n  \"context\": {\n    \"ip\": \"8.8.8.8\",\n    \"userAgent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/537.36 (KHTML like Gecko) Chrome/40.0.2214.115 Safari/537.36\"\n  },\n  \"integrations\": {\n    \"All\": true,\n    \"Mixpanel\": false,\n    \"Salesforce\": false\n  },\n  \"messageId\": \"022bb90c-bbac-11e4-8dfc-aa07a5b093db\",\n  \"name\": \"Home\",\n  \"properties\": {\n    \"title\": \"Welcome | ACME, Inc.\",\n    \"url\": \"https://www.example.com\"\n  },\n  \"receivedAt\": \"2015-02-23T22:28:55.387Z\",\n  \"sentAt\": \"2015-02-23T22:28:55.111Z\",\n  \"timestamp\": \"2015-02-23T22:28:55.111Z\",\n  \"type\": \"page\",\n  \"userId\": \"97980cfea0067\",\n  \"version\": 1.1\n}"
          },
          {
            "label": "Curl",
            "lang": "shell",
            "source": "curl --request POST \\\n  --url https://cdp.customer.io/v1/page \\\n  -u api_key: \\\n  -H 'content-type: application/json' \\\n  --data-raw '\n  {\n      \"userId\": \"f4ca124298\",\n      \"name\": \"Home\",\n      \"properties\": {\n          \"title\": \"Welcome | ACME, Inc.\",\n          \"url\": \"https://www.example.com\"\n      }\n  }'\n"
          },
          {
            "label": "JavaScript (SDK)",
            "lang": "javascript",
            "source": "analytics.page(\"Retail Page\",\"shoes\", {\n  affiliate: \"Pro annual\",\n  accountType: \"Facebook\"\n});\n"
          },
          {
            "label": "Node.js (SDK)",
            "lang": "javascript",
            "source": "analytics.page({\n  userId: '019mr8mf4r',\n  category: 'Docs',\n  name: 'Customer.io Data Pipelines',\n  properties: {\n    url: 'https://customer.io/cdp/',\n    path: '/cdp/',\n    title: 'Customer.io Data Pipelines',\n    referrer: 'https://customer.io'\n  }\n});\n"
          },
          {
            "label": "Python (SDK)",
            "lang": "python",
            "source": "analytics.page('<user_id>', 'Retail Page', 'shoes', {\n    'url': 'https://example.com/products/showes'\n})\n"
          },
          {
            "label": "Go (SDK)",
            "lang": "go",
            "source": "client.Enqueue(analytics.Page{\n  UserId: \"f4ca124298\",\n  Name:   \"Customer.io Data Pipelines\",\n  Category: \"Docs\",\n  Properties: analytics.NewProperties().\n    SetURL(\"https://customer.io/cdp/\"),\n})\n"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          }
        }
      }
    },
    "/screen": {
      "post": {
        "operationId": "screen",
        "summary": "Track mobile screenviews",
        "description": "Sends a screen view event for mobile devices. Screen events help you understand the screens that people use in your app. You should send a screen call whenever a user requests a page of your app.\n",
        "servers": [
          {
            "url": "https://cdp.customer.io/v1",
            "description": "This is a Data Pipeline API."
          }
        ],
        "security": [
          {
            "Basic-Auth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Strict-Mode",
            "in": "header",
            "description": "When set to `1`, enables strict validation that returns proper HTTP error codes (400/401) for validation failures. When not set or set to any other value, the API operates in permissive mode, logging errors but returning HTTP 200. [Learn more](/integrations/api/track-vs-cdp-api#pipelines-strict-mode)\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            },
            "example": "1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/screen"
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "json",
            "label": "JSON",
            "source": "{\n  \"anonymousId\": \"507f191e810c19729de860ea\",\n  \"context\": {\n    \"ip\": \"8.8.8.8\"\n  },\n  \"integrations\": {\n    \"All\": true,\n    \"Salesforce\": false\n  },\n  \"messageId\": \"022bb90c-bbac-11e4-8dfc-aa07a5b093db\",\n  \"name\": \"feed\",\n  \"properties\": {\n    \"subscriptions\": [\n      \"baseball\",\n      \"basketball\"\n    ]\n  },\n  \"receivedAt\": \"2015-02-23T22:28:55.387Z\",\n  \"sentAt\": \"2015-02-23T22:28:55.111Z\",\n  \"timestamp\": \"2015-02-23T22:28:55.111Z\",\n  \"type\": \"screen\",\n  \"userId\": \"97980cfea0067\",\n  \"version\": 1.1\n}"
          },
          {
            "label": "Curl",
            "lang": "shell",
            "source": "curl --request POST \\\n  --url https://cdp.customer.io/v1/screen \\\n  -u api_key: \\\n  -H 'content-type: application/json' \\\n  --data-raw '\n  {\n      \"userId\": \"f4ca124298\",\n      \"name\": \"feed\",\n      \"properties\": {\n          \"subscriptions\": [\n              \"baseball\",\n              \"basketball\"\n          ]\n      }\n  }'\n"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          }
        }
      }
    },
    "/group": {
      "post": {
        "operationId": "group",
        "summary": "Create objects and relationships",
        "description": "Group calls add people to a group. Groups could be a companies, accounts, online classes, and so on. How groups are represented in your destination depends on the destination. Some destinations have concepts of \"groups\"; Customer.io's destination calls groups \"objects.\"\n\n**When you use our libraries, you'll typically only provide an ID for the user, the `groupId`, and `traits`. The libraries fill in the rest of the payload automatically.**\n",
        "servers": [
          {
            "url": "https://cdp.customer.io/v1",
            "description": "This is a Data Pipeline API."
          }
        ],
        "security": [
          {
            "Basic-Auth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Strict-Mode",
            "in": "header",
            "description": "When set to `1`, enables strict validation that returns proper HTTP error codes (400/401) for validation failures. When not set or set to any other value, the API operates in permissive mode, logging errors but returning HTTP 200. [Learn more](/integrations/api/track-vs-cdp-api#pipelines-strict-mode)\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            },
            "example": "1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/group"
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "json",
            "label": "JSON",
            "source": "{\n  \"anonymousId\": \"507f191e810c19729de860ea,\",\n  \"channel\": \"browser,\",\n  \"context\": {\n    \"ip\": \"8.8.8.8\",\n    \"userAgent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.115 Safari/537.36\"\n  },\n  \"integrations\": {\n    \"All\": true,\n    \"Mixpanel\": false,\n    \"Salesforce\": false\n  },\n  \"messageId\": \"022bb90c-bbac-11e4-8dfc-aa07a5b093db,\",\n  \"receivedAt\": \"2015-02-23T22:28:55.387Z,\",\n  \"sentAt\": \"2015-02-23T22:28:55.111Z,\",\n  \"timestamp\": \"2015-02-23T22:28:55.111Z,\",\n  \"traits\": {\n    \"name\": \"ACME, Inc.\",\n    \"industry\": \"Technology\",\n    \"employees\": 329,\n    \"plan\": \"enterprise\",\n    \"total billed\": 830\n  },\n  \"type\": \"group\",\n  \"userId\": \"97980cfea0067\",\n  \"groupId\": \"0e8c78ea9d97a7b8185e8632,\",\n  \"version\": 1.1\n}"
          },
          {
            "label": "Curl",
            "lang": "shell",
            "source": "curl --request POST \\\n  --url https://cdp.customer.io/v1/group \\\n  -u api_key: \\\n  -H 'content-type: application/json' \\\n  --data-raw '\n  {\n      \"userId\": \"97980cfea0067\",\n      \"groupId\": \"0e8c78ea9d97a7b8185e8632\",\n      \"traits\": {\n          \"objectTypeId\": 2,\n          \"name\": \"ACME, Inc.\",\n          \"industry\": \"Technology\",\n          \"employees\": 329,\n          \"plan\": \"enterprise\",\n          \"total billed\": 830\n      }\n  }'\n"
          },
          {
            "label": "JavaScript (SDK)",
            "lang": "javascript",
            "source": "analytics.group(\"0e8c78ea9d97a7b8185e8632\", {\n  objectTypeId: 2,\n  name: \"Acme\",\n  industry: \"Technology\",\n  road_runner_accidents: 329,\n  plan: \"enterprise\",\n  \"total billed\": 830\n});\n"
          },
          {
            "label": "Node.js (SDK)",
            "lang": "javascript",
            "source": "analytics.group({\n  userId: '019mr8mf4r',\n  groupId: '56',\n  traits: {\n    objectTypeId: 2,\n    name: 'ACME, Inc.',\n    description: 'Giant anvils'\n  }\n});\n"
          },
          {
            "label": "Python (SDK)",
            "lang": "python",
            "source": "analytics.group('user_id', 'group_id', {\n  'objectTypeId': 2,\n  'name': 'ACME, Inc.',\n  'domain': 'Giant anvils'\n})\n"
          },
          {
            "label": "Go (SDK)",
            "lang": "go",
            "source": "client.Enqueue(analytics.Group{\n  UserId:  \"019mr8mf4r\",\n  GroupId: \"56\",\n  Traits: map[string]interface{}{\n    \"objectTypeId\": 2,\n    \"name\":        \"ACME, Inc.\",\n    \"description\": \"Giant anvils\",\n  },\n})\n"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          }
        }
      }
    },
    "/alias": {
      "post": {
        "operationId": "alias",
        "summary": "Merge profiles",
        "description": "*You **only** need to use this method to support a few select destinations like Mixpanel.*\n\nThe `alias` method reconciles identifiers in systems that don't automatically handle identity changes—like when a person graduates from an anonymous user to an identified user.\n\nFor example, a person typically has an `anonymousId` until you identify them by `userId`. Most destinations will automatically associate data from the anonymous ID with the new user ID when you send an `identify` call. But a select few destinations, like [Mixpanel](/integrations/data-out/connections/mixpanel/), won't! The `alias` call tells Mixpanel to represent the `anonymousId` with the new `userId`.\n\nIf you need to use the `alias` call, you'll want to send it before you identify someone with a `userId`.\n\nIf you use our web or server-side libraries, and you've already identified someone, we assume that this is the `userId` that you want to keep. Otherwise, you need to pass both the `previousId` and the `userId`.\n\n**When you use our libraries, you'll typically only provide the `previousId` and `userId`. The libraries fill in the rest of the payload automatically.**\n",
        "servers": [
          {
            "url": "https://cdp.customer.io/v1",
            "description": "This is a Data Pipeline API."
          }
        ],
        "security": [
          {
            "Basic-Auth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Strict-Mode",
            "in": "header",
            "description": "When set to `1`, enables strict validation that returns proper HTTP error codes (400/401) for validation failures. When not set or set to any other value, the API operates in permissive mode, logging errors but returning HTTP 200. [Learn more](/integrations/api/track-vs-cdp-api#pipelines-strict-mode)\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            },
            "example": "1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/alias"
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "json",
            "label": "JSON",
            "source": "{\n  \"previousId\": \"string\",\n  \"userId\": \"string\"\n}"
          },
          {
            "label": "Curl",
            "lang": "shell",
            "source": "curl --request POST \\\n  --url https://cdp.customer.io/v1/alias \\\n  -u api_key: \\\n  -H 'content-type: application/json' \\\n  -d '{\"previousId\":\"23adfd82-aa0f-45a7-a756-24f2a7a4c895\",\"userId\":\"97980cfea0067\"}'\n"
          },
          {
            "label": "JavaScript (SDK)",
            "lang": "javascript",
            "source": "analytics.alias(\"old-id\",\"new-id\");\n"
          },
          {
            "label": "Node.js (SDK)",
            "lang": "javascript",
            "source": "analytics.alias({ previousId: 'anonymous_user', userId: 'identified@example.com' })\n"
          },
          {
            "label": "Python (SDK)",
            "lang": "python",
            "source": "analytics.alias(previous_id, user_id)\n"
          },
          {
            "label": "Go (SDK)",
            "lang": "go",
            "source": "client.Enqueue(analytics.Alias{\n  PreviousId: anonymousUser,\n  UserId:     \"019mr8mf4r\",\n})\n"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          }
        }
      }
    },
    "/batch": {
      "post": {
        "operationId": "batch",
        "summary": "Batch requests",
        "description": "The batch method helps you send an array of `identify`, `group`, `track`, `page` and/or `screen` requests in a single call, so you don't have to send multiple requests. Our server-side sources use this method automatically to increase performance.\n\nRequests are limited to 500KB total per request and 32KB per call in the request. In a batch request, the `context` and `integrations` objects apply to _all calls in the request_. You can't set different context or integrations values for different calls in the same request.\n",
        "servers": [
          {
            "url": "https://cdp.customer.io/v1",
            "description": "This is a Data Pipeline API."
          }
        ],
        "security": [
          {
            "Basic-Auth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Strict-Mode",
            "in": "header",
            "description": "When set to `1`, enables strict validation that returns proper HTTP error codes (400/401) for validation failures. When not set or set to any other value, the API operates in permissive mode, logging errors but returning HTTP 200. [Learn more](/integrations/api/track-vs-cdp-api#pipelines-strict-mode)\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            },
            "example": "1"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/batch"
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "json",
            "label": "JSON",
            "source": "{}"
          },
          {
            "lang": "shell",
            "label": "Curl",
            "source": "curl --request POST \\\n  --url https://cdp.customer.io/v1/batch \\\n  -u api_key: \\\n  -H 'content-type: application/json' \\\n  --data-raw '\n  {\n      \"batch\": [\n          {\n              \"type\": \"identify\",\n              \"traits\": {\n                  \"name\": \"Cool Person\",\n                  \"email\": \"cool.person@example.com\",\n                  \"likes_baseball\": true,\n                  \"games_attended\": 5\n              },\n              \"userId\": \"97980cfea0067\"\n          },\n          {\n              \"type\": \"track\",\n              \"userId\": \"97980cfea0067\",\n              \"event\": \"Course Started\",\n              \"properties\": {\n                  \"title\": \"Intro to Customer.io\"\n              }\n          }\n      ]\n  }'\n"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "user": {
        "x-scalar-ignore": true,
        "description": "The person you want to attribute activity to—an `anonymousId` or a `userId`. When you identify a person and associate an `anonymousId` with a `userId`, we'll associate past, anonymous activity with the `userId`.",
        "oneOf": [
          {
            "title": "Known User",
            "type": "object",
            "required": [
              "userId"
            ],
            "properties": {
              "userId": {
                "$ref": "#/components/schemas/userId"
              }
            }
          },
          {
            "title": "Anonymous User",
            "type": "object",
            "required": [
              "anonymousId"
            ],
            "properties": {
              "anonymousId": {
                "$ref": "#/components/schemas/anonymousId"
              }
            }
          }
        ]
      },
      "previousId": {
        "x-scalar-ignore": true,
        "type": "string",
        "description": "The anonymousId or userId value that you want to merge into the canonical profile."
      },
      "alias": {
        "x-scalar-ignore": true,
        "type": "object",
        "required": [
          "previousId",
          "userId"
        ],
        "properties": {
          "type": {
            "type": "string",
            "readOnly": true,
            "enum": [
              "alias"
            ],
            "description": "The event type. This is set automatically by the request method/endpoint."
          },
          "previousId": {
            "type": "string",
            "description": "The anonymousId or userId value that you want to merge into the canonical profile."
          },
          "userId": {
            "type": "string",
            "description": "The userId that you want to keep. This is required if you haven't already identified someone with one of our web or server-side libraries.\n"
          }
        }
      },
      "alias_all": {
        "x-scalar-ignore": true,
        "allOf": [
          {
            "$ref": "#/components/schemas/alias"
          },
          {
            "$ref": "#/components/schemas/all_common_fields"
          }
        ]
      },
      "identify": {
        "x-scalar-ignore": true,
        "oneOf": [
          {
            "title": "Known User",
            "allOf": [
              {
                "type": "object",
                "required": [
                  "userId"
                ],
                "properties": {
                  "userId": {
                    "$ref": "#/components/schemas/userId"
                  },
                  "anonymousId": {
                    "$ref": "#/components/schemas/anonymousId"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "identify"
                    ],
                    "description": "The event type. This is set automatically by the request method/endpoint."
                  },
                  "traits": {
                    "type": "object",
                    "description": "Additional properties that you know about a person. We've listed some common/reserved traits below, but you can add any traits that you might use in another system.",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "A person's email address. In some cases, you can pass an empty `userId` and we'll use this value to identify a person."
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "We recommend that you pass date-time values as ISO 8601 date-time strings. We convert this value to fit destinations where appropriate."
                      },
                      "cio_subscription_preferences": {
                        "description": "Stores your audience's subscription preferences if you enable our [subscription center](/journeys/channels/subscriptions/center/) feature. These items are set automatically when people use the unsubscribe link in your messages, but you can set preferences outside the subscription flow. To update select topic preferences while preserving those set for other topics, use JSON dot notation `\"cio_subscription_preferences.topics.topic_<topic ID>\":<boolean>`. To update channel preferences, use `\"cio_subscription_preferences.channels.<channel>\":<boolean>`.",
                        "type": "object",
                        "properties": {
                          "topics": {
                            "type": "object",
                            "description": "Contains active topics in your workspace, named `topic_<id>`.",
                            "additionalProperties": {
                              "x-additionalPropertiesName": "topic_<id>",
                              "description": "Each property is a boolean named `topic_<id>`. Topic `id` values begin at `1` and increment for each new topic. You can find your topic ids in [Workspace Settings](https://fly.customer.io/workspaces/last/settings/subscription_center/topics) or by querying our [App API](https://customer.io/api/app/#operation/getTopics). For each boolean, `true` means that a person is subscribed to the topic; false means they are unsubscribed. An empty or missing value reverts to the default preference for the topic (opt-in or opt-out).",
                              "type": "boolean"
                            },
                            "example": {
                              "topic_1": true,
                              "topic_2": false
                            }
                          },
                          "channels": {
                            "type": "object",
                            "description": "Contains channel subscription preferences. Keys are channel type names.",
                            "additionalProperties": {
                              "x-additionalPropertiesName": "channel_type",
                              "description": "Each property is a boolean keyed by the channel type name: `email`, `sms`, `push`, `in_app`, `whatsapp`, `slack`, `line`, or `inbox`. `true` means a person is subscribed to the channel; `false` means they are unsubscribed. Both the topic and channel must be subscribed for a message to send.",
                              "type": "boolean"
                            },
                            "example": {
                              "email": true,
                              "push": false
                            }
                          }
                        }
                      },
                      "unsubscribed": {
                        "description": "If `true`, a person is unsubscribed from emails, SMS, WhatsApp, and push notifications (not in-app messages). Any casing of \"true\" (i.e. TRUE, true, tRUe, etc.), 1, or \"1\" means the person is unsubscribed. If `false`, absent, or any value not considered \"true\", a person is globally subscribed, or if you enabled a subscription center, a person will receive messages based on their `cio_subscription_preferences`.",
                        "type": "boolean"
                      }
                    },
                    "additionalProperties": {
                      "x-additionalPropertiesName": "Additional Traits",
                      "description": "Traits that you want to set on a person. These can take any JSON shape."
                    }
                  }
                }
              },
              {
                "$ref": "#/components/schemas/all_common_fields"
              }
            ]
          },
          {
            "title": "Anonymous User",
            "allOf": [
              {
                "type": "object",
                "required": [
                  "anonymousId"
                ],
                "properties": {
                  "anonymousId": {
                    "$ref": "#/components/schemas/anonymousId"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "identify"
                    ],
                    "description": "The event type. This is set automatically by the request method/endpoint."
                  },
                  "traits": {
                    "type": "object",
                    "description": "Additional properties that you know about a person. We've listed some common/reserved traits below, but you can add any traits that you might use in another system.",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "A person's email address. In some cases, you can pass an empty `userId` and we'll use this value to identify a person."
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "We recommend that you pass date-time values as ISO 8601 date-time strings. We convert this value to fit destinations where appropriate."
                      }
                    },
                    "additionalProperties": {
                      "x-additionalPropertiesName": "Additional Traits",
                      "description": "Traits that you want to set on a person. These can take any JSON shape."
                    }
                  }
                }
              },
              {
                "$ref": "#/components/schemas/all_common_fields"
              }
            ]
          }
        ],
        "example": {
          "type": "identify",
          "traits": {
            "name": "Cool Person",
            "email": "cool.person@example.com",
            "likes_baseball": true,
            "games_attended": 5
          },
          "userId": "97980cfea0067"
        }
      },
      "track": {
        "x-scalar-ignore": true,
        "oneOf": [
          {
            "title": "Custom event",
            "oneOf": [
              {
                "title": "Known User",
                "allOf": [
                  {
                    "type": "object",
                    "required": [
                      "userId",
                      "event",
                      "type"
                    ],
                    "properties": {
                      "userId": {
                        "$ref": "#/components/schemas/userId"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "track"
                        ],
                        "description": "The event type. This is set automatically by the request method/endpoint."
                      },
                      "event": {
                        "type": "string",
                        "description": "The name of the event",
                        "example": "new_account"
                      },
                      "properties": {
                        "type": "object",
                        "description": "Additional properties for your event.",
                        "additionalProperties": {
                          "x-additionalPropertiesName": "Event Properties",
                          "description": "Additional properties that you want to capture in the event. These can take any JSON shape."
                        }
                      }
                    }
                  },
                  {
                    "$ref": "#/components/schemas/all_common_fields"
                  }
                ]
              },
              {
                "title": "Anonymous User",
                "allOf": [
                  {
                    "type": "object",
                    "required": [
                      "event",
                      "type",
                      "anonymousId"
                    ],
                    "properties": {
                      "anonymousId": {
                        "$ref": "#/components/schemas/anonymousId"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "track"
                        ],
                        "description": "The event type. This is set automatically by the request method/endpoint."
                      },
                      "event": {
                        "type": "string",
                        "description": "The name of the event",
                        "example": "new_account"
                      },
                      "properties": {
                        "type": "object",
                        "description": "Additional properties for your event.",
                        "additionalProperties": {
                          "x-additionalPropertiesName": "Event Properties",
                          "description": "Additional properties that you want to capture in the event. These can take any JSON shape."
                        }
                      }
                    }
                  },
                  {
                    "$ref": "#/components/schemas/all_common_fields"
                  }
                ]
              },
              {
                "title": "Group",
                "allOf": [
                  {
                    "type": "object",
                    "required": [
                      "event",
                      "type",
                      "groupId"
                    ],
                    "properties": {
                      "groupId": {
                        "type": "string",
                        "description": "The ID of the group you want to attribute an event to. Note that not all destinations allow groups (or their downstream equivalent) to perform groups."
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "track"
                        ],
                        "description": "The event type. This is set automatically by the request method/endpoint."
                      },
                      "event": {
                        "type": "string",
                        "description": "The name of the event",
                        "example": "new_account"
                      },
                      "properties": {
                        "type": "object",
                        "description": "Additional properties for your event.",
                        "additionalProperties": {
                          "x-additionalPropertiesName": "Event Properties",
                          "description": "Additional properties that you want to capture in the event. These can take any JSON shape."
                        }
                      }
                    }
                  },
                  {
                    "$ref": "#/components/schemas/all_common_fields"
                  }
                ]
              }
            ]
          },
          {
            "$ref": "#/components/schemas/create_update_device"
          },
          {
            "$ref": "#/components/schemas/delete_device"
          },
          {
            "$ref": "#/components/schemas/delete_person"
          },
          {
            "$ref": "#/components/schemas/relationship_deleted"
          },
          {
            "$ref": "#/components/schemas/group_deleted"
          },
          {
            "$ref": "#/components/schemas/suppress_person"
          },
          {
            "$ref": "#/components/schemas/unsuppress_person"
          },
          {
            "$ref": "#/components/schemas/report_delivery_event"
          },
          {
            "$ref": "#/components/schemas/report_content_event"
          }
        ],
        "example": {
          "anonymousId": "23adfd82-aa0f-45a7-a756-24f2a7a4c895",
          "context": {
            "library": {
              "name": "analytics.js",
              "version": "2.11.1"
            },
            "page": {
              "path": "/",
              "referrer": "https://www.google.com/",
              "search": "?q=analytics",
              "title": "Customer.io Docs",
              "url": "https://docs.customer.io"
            },
            "userAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_0) AppleWebKit/537.36 (KHTML like Gecko) Chrome/46.0.2490.86 Safari/537.36",
            "ip": "108.0.78.21"
          },
          "event": "Course Started",
          "integrations": null,
          "messageId": "ajs-f8ca1e4de5024d9430b3928bd8ac6b96",
          "properties": {
            "title": "Intro to Customer.io"
          },
          "receivedAt": "2015-12-12T19:11:01.266Z",
          "sentAt": "2015-12-12T19:11:01.169Z",
          "timestamp": "2015-12-12T19:11:01.249Z",
          "type": "track",
          "userId": "AiUGstSDIg",
          "originalTimestamp": "2015-12-12T19:11:01.152Z"
        }
      },
      "page": {
        "x-scalar-ignore": true,
        "oneOf": [
          {
            "title": "Known User",
            "allOf": [
              {
                "type": "object",
                "required": [
                  "userId"
                ],
                "properties": {
                  "userId": {
                    "$ref": "#/components/schemas/userId"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "page"
                    ],
                    "description": "The event type. This is set automatically by the request method/endpoint."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the page.",
                    "example": "home"
                  },
                  "properties": {
                    "type": "object",
                    "description": "Additional `page` properties. Analytics.js automatically collects `url`, `title`, `referrer`, `path`, and `search` properties. But, if you use our other sources or you write your own integration, you should consider sending these properties yourself. Destination actions that take `page` events often rely on the `url` and `title` properties.",
                    "properties": {
                      "category": {
                        "type": "string",
                        "description": "The category of the page. This might be useful if you have a single page routes or have a flattened URL structure."
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL of the page. This defaults to a canonical url if available, and falls back to `document.location.href`.",
                        "example": "https://www.example.com/page/"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title of the page. This defaults to `document.title`, but can be overridden.",
                        "example": "Page | Example.com"
                      },
                      "referrer": {
                        "type": "string",
                        "description": "The referrer of the page, if applicable. This defaults to `document.referrer`, but can be overridden.",
                        "example": "http://www.google.com/search?q=example"
                      },
                      "path": {
                        "type": "string",
                        "description": "The path of the page. This defaults to `location.pathname`, but can be overridden.",
                        "example": "/page"
                      },
                      "search": {
                        "type": "string",
                        "description": "The search query in the URL, if present. This defaults to `location.search`, but can be overridden.",
                        "example": "?q=sfgiants"
                      }
                    },
                    "additionalProperties": {
                      "x-additionalPropertiesName": "Page Properties"
                    }
                  }
                }
              },
              {
                "$ref": "#/components/schemas/page_common_fields"
              }
            ]
          },
          {
            "title": "Anonymous User",
            "allOf": [
              {
                "type": "object",
                "required": [
                  "anonymousId"
                ],
                "properties": {
                  "anonymousId": {
                    "$ref": "#/components/schemas/anonymousId"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "page"
                    ],
                    "description": "The event type. This is set automatically by the request method/endpoint."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the page.",
                    "example": "home"
                  },
                  "properties": {
                    "type": "object",
                    "description": "Additional properties for your event.",
                    "properties": {
                      "category": {
                        "type": "string",
                        "description": "The category of the page. This might be useful if you have a single page routes or have a flattened URL structure."
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL of the page."
                      },
                      "title": {
                        "type": "string",
                        "description": "The title of the page. This defaults to `document.title`, but can be overridden.",
                        "example": "Page | Example.com"
                      },
                      "referrer": {
                        "type": "string",
                        "description": "The referrer of the page, if applicable. This defaults to document.referrer, but can be overridden.",
                        "example": "http://www.google.com/search?q=example"
                      },
                      "path": {
                        "type": "string",
                        "description": "The path of the page. This defaults to location.pathname, but can be overridden.",
                        "example": "/page"
                      },
                      "search": {
                        "type": "string",
                        "description": "The search query in the URL, if present. This defaults to location.search, but can be overridden.",
                        "example": "?q=sfgiants"
                      }
                    },
                    "additionalProperties": {
                      "x-additionalPropertiesName": "Page Properties"
                    }
                  }
                }
              },
              {
                "$ref": "#/components/schemas/page_common_fields"
              }
            ]
          }
        ],
        "example": {
          "anonymousId": "507f191e810c19729de860ea",
          "channel": "browser",
          "context": {
            "ip": "8.8.8.8",
            "userAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/537.36 (KHTML like Gecko) Chrome/40.0.2214.115 Safari/537.36"
          },
          "integrations": {
            "All": true,
            "Mixpanel": false,
            "Salesforce": false
          },
          "messageId": "022bb90c-bbac-11e4-8dfc-aa07a5b093db",
          "name": "Home",
          "properties": {
            "title": "Welcome | ACME, Inc.",
            "url": "https://www.example.com"
          },
          "receivedAt": "2015-02-23T22:28:55.387Z",
          "sentAt": "2015-02-23T22:28:55.111Z",
          "timestamp": "2015-02-23T22:28:55.111Z",
          "type": "page",
          "userId": "97980cfea0067",
          "version": 1.1
        }
      },
      "screen": {
        "x-scalar-ignore": true,
        "oneOf": [
          {
            "title": "Known User",
            "allOf": [
              {
                "type": "object",
                "required": [
                  "userId"
                ],
                "properties": {
                  "userId": {
                    "$ref": "#/components/schemas/userId"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "screen"
                    ],
                    "description": "The event type. This is set automatically by the request method/endpoint."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the screen the person visited.",
                    "example": "home"
                  },
                  "properties": {
                    "type": "object",
                    "description": "Additional properties for your screen.",
                    "additionalProperties": {
                      "x-additionalPropertiesName": "Screen Properties"
                    }
                  }
                }
              },
              {
                "$ref": "#/components/schemas/mobile_common_fields"
              }
            ]
          },
          {
            "title": "Anonymous User",
            "allOf": [
              {
                "type": "object",
                "required": [
                  "anonymousId"
                ],
                "properties": {
                  "anonymousId": {
                    "$ref": "#/components/schemas/anonymousId"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "screen"
                    ],
                    "description": "The event type. This is set automatically by the request method/endpoint."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the screen the person visited.",
                    "example": "home"
                  },
                  "properties": {
                    "type": "object",
                    "description": "Additional properties for your screen.",
                    "additionalProperties": {
                      "x-additionalPropertiesName": "Screen Properties"
                    }
                  }
                }
              },
              {
                "$ref": "#/components/schemas/mobile_common_fields"
              }
            ]
          }
        ],
        "example": {
          "anonymousId": "507f191e810c19729de860ea",
          "context": {
            "ip": "8.8.8.8"
          },
          "integrations": {
            "All": true,
            "Salesforce": false
          },
          "messageId": "022bb90c-bbac-11e4-8dfc-aa07a5b093db",
          "name": "feed",
          "properties": {
            "subscriptions": [
              "baseball",
              "basketball"
            ]
          },
          "receivedAt": "2015-02-23T22:28:55.387Z",
          "sentAt": "2015-02-23T22:28:55.111Z",
          "timestamp": "2015-02-23T22:28:55.111Z",
          "type": "screen",
          "userId": "97980cfea0067",
          "version": 1.1
        }
      },
      "groupId": {
        "x-scalar-ignore": true,
        "type": "string",
        "description": "ID of the group",
        "example": "0e8c78ea9d97a7b8185e8632"
      },
      "group": {
        "x-scalar-ignore": true,
        "oneOf": [
          {
            "title": "Known User",
            "allOf": [
              {
                "type": "object",
                "properties": {
                  "userId": {
                    "$ref": "#/components/schemas/userId"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "group"
                    ],
                    "description": "The event type. This is set automatically by the request method/endpoint.",
                    "example": "group"
                  },
                  "groupId": {
                    "type": "string",
                    "description": "ID of the group",
                    "example": "0e8c78ea9d97a7b8185e8632"
                  },
                  "traits": {
                    "type": "object",
                    "description": "Additional information about the group.",
                    "properties": {
                      "object_type_id": {
                        "$ref": "#/components/schemas/objectTypeId"
                      },
                      "relationshipAttributes": {
                        "type": "object",
                        "description": "Attributes that you want to set for the relationship between the person and the group.",
                        "example": {
                          "role": "primary_contact"
                        }
                      }
                    },
                    "additionalProperties": {
                      "x-additionalPropertiesName": "Group Traits",
                      "example": {
                        "name": "Acme",
                        "industry": "Technology",
                        "road_runner_accidents": "329,",
                        "plan": "enterprise,",
                        "total_billed": 830
                      }
                    }
                  }
                }
              },
              {
                "$ref": "#/components/schemas/all_common_fields"
              }
            ]
          },
          {
            "title": "Anonymous User",
            "allOf": [
              {
                "type": "object",
                "properties": {
                  "anonymousId": {
                    "$ref": "#/components/schemas/anonymousId"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "group"
                    ],
                    "description": "The event type. This is set automatically by the request method/endpoint.",
                    "example": "group"
                  },
                  "groupId": {
                    "type": "string",
                    "description": "ID of the group",
                    "example": "0e8c78ea9d97a7b8185e8632"
                  },
                  "traits": {
                    "type": "object",
                    "description": "Additional information about the group.",
                    "properties": {
                      "object_type_id": {
                        "$ref": "#/components/schemas/objectTypeId"
                      },
                      "relationshipAttributes": {
                        "type": "object",
                        "description": "Attributes that you want to set for the relationship between the person and the group.",
                        "example": {
                          "role": "primary_contact"
                        }
                      }
                    },
                    "additionalProperties": {
                      "x-additionalPropertiesName": "Group Traits",
                      "description": "Attributes that you want to associate with the group.",
                      "example": {
                        "name": "Acme",
                        "industry": "Technology",
                        "road_runner_accidents": "329,",
                        "plan": "enterprise,",
                        "total_billed": 830
                      }
                    }
                  }
                }
              },
              {
                "$ref": "#/components/schemas/all_common_fields"
              }
            ]
          }
        ],
        "example": {
          "anonymousId": "507f191e810c19729de860ea,",
          "channel": "browser,",
          "context": {
            "ip": "8.8.8.8",
            "userAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/40.0.2214.115 Safari/537.36"
          },
          "integrations": {
            "All": true,
            "Mixpanel": false,
            "Salesforce": false
          },
          "messageId": "022bb90c-bbac-11e4-8dfc-aa07a5b093db,",
          "receivedAt": "2015-02-23T22:28:55.387Z,",
          "sentAt": "2015-02-23T22:28:55.111Z,",
          "timestamp": "2015-02-23T22:28:55.111Z,",
          "traits": {
            "name": "ACME, Inc.",
            "industry": "Technology",
            "employees": 329,
            "plan": "enterprise",
            "total billed": 830
          },
          "type": "group",
          "userId": "97980cfea0067",
          "groupId": "0e8c78ea9d97a7b8185e8632,",
          "version": 1.1
        }
      },
      "userId": {
        "x-scalar-ignore": true,
        "type": "string",
        "description": "The unique identifier for a person. This value should be unique across systems, so you recognize the same person in your sources _and_ destinations.",
        "example": "241ma8mf4a"
      },
      "anonymousId": {
        "x-scalar-ignore": true,
        "type": "string",
        "description": "A unique substitute for a User ID in cases when you don’t have an absolutely unique identifier. Our libraries generate this value automatically to help you track people before they sign up, log in, provide their email, etc.",
        "example": "c0e5cae6-6f04-46e4-97a8-25076e8bdc0b"
      },
      "all_common_fields": {
        "x-scalar-ignore": true,
        "allOf": [
          {
            "$ref": "#/components/schemas/common_fields"
          },
          {
            "type": "object",
            "properties": {
              "context": {
                "description": "A dictionary of context about a source call/event, like the user’s IP address or locale. Context is automatically collected by our source libraries.",
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/context_non_mobile"
                  },
                  {
                    "$ref": "#/components/schemas/context_mobile"
                  }
                ]
              }
            }
          }
        ]
      },
      "page_common_fields": {
        "x-scalar-ignore": true,
        "allOf": [
          {
            "$ref": "#/components/schemas/common_fields"
          },
          {
            "type": "object",
            "properties": {
              "context": {
                "$ref": "#/components/schemas/context_non_mobile"
              }
            }
          }
        ]
      },
      "mobile_common_fields": {
        "x-scalar-ignore": true,
        "allOf": [
          {
            "$ref": "#/components/schemas/common_fields"
          },
          {
            "type": "object",
            "properties": {
              "context": {
                "$ref": "#/components/schemas/context_mobile"
              }
            }
          }
        ]
      },
      "context": {
        "x-scalar-ignore": true,
        "description": "A dictionary of context about a source call/event, like the user’s IP address or locale. Context is automatically collected by our source libraries.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/context_non_mobile"
          },
          {
            "$ref": "#/components/schemas/context_mobile"
          }
        ]
      },
      "integrations": {
        "x-scalar-ignore": true,
        "type": "object",
        "description": "Contains a list of booleans indicating the integrations that are enabled (true) or disabled (false). By default, all integrations are enabled (returning an empty object). Set `\"All\": false` to reverse this behavior.\n",
        "additionalProperties": {
          "type": "boolean",
          "x-additionalPropertiesName": "Enabled/Disabled integrations"
        },
        "example": {
          "All": true,
          "Salesforce": false
        }
      },
      "common_fields": {
        "x-scalar-ignore": true,
        "type": "object",
        "properties": {
          "integrations": {
            "$ref": "#/components/schemas/integrations"
          },
          "messageId": {
            "type": "string",
            "description": "A unique identifier for a Data Pipelines call, ensuring that each individual event is unique. This is set by Customer.io"
          },
          "receivedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "description": "The ISO-8601 timestamp when Data Pipelines receives an event."
          },
          "sentAt": {
            "type": "string",
            "format": "date-time",
            "description": "The ISO-8601 timestamp when a library sends an event to Data Pipelines."
          },
          "originalTimestamp": {
            "type": "string",
            "format": "date-time",
            "description": "In general, you can use `timestamp` rather than this field if you want to back-date events. This is the timestamp on the client device you invoke a call or the timestamp value you manually passed in a server-side library call."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "The ISO-8601 timestamp when the event originally took place. This is mostly useful when you backfill past events. If you're not backfilling data, you can leave this field empty and we'll use the current time or server time."
          },
          "type": {
            "readOnly": true,
            "type": "string",
            "enum": [
              "identify",
              "group",
              "track",
              "page",
              "screen",
              "alias"
            ],
            "description": "The type of source event. This is implicit and set by Customer.io based on the endpoint/method you use (e.g. `identify`)."
          },
          "version": {
            "readOnly": true,
            "type": "number",
            "description": "The version of the API that received the event, automatically set by Customer.io."
          }
        }
      },
      "context_common": {
        "x-scalar-ignore": true,
        "type": "object",
        "description": "Contains contextual information about the event.",
        "properties": {
          "active": {
            "type": "boolean",
            "description": "Whether a user is active.\n\nThis is usually used when you send an .identify() call to update the traits independently of when you've “last seen” a user.\n"
          },
          "ip": {
            "type": "string",
            "description": "The user's IP address. This isn't captured by our libraries, but by our servers when we receive client-side events (like from our JavaScript source)."
          },
          "locale": {
            "type": "string",
            "description": "The locale string for the current user, e.g. `en-US`."
          },
          "userAgent": {
            "type": "string",
            "description": "The user agent of the device making the request"
          },
          "channel": {
            "type": "string",
            "enum": [
              "browser",
              "server",
              "mobile"
            ],
            "description": "The channel the event originated from."
          }
        }
      },
      "context_page": {
        "x-scalar-ignore": true,
        "type": "object",
        "description": "Contains information about the current page in the browser. This is automatically collected by our JavaScript source.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the page. Reserved for future use.\n"
          },
          "path": {
            "type": "string",
            "description": "The path portion of the page's URL. Equivalent to the canonical `path` which defaults to `location.pathname` from the DOM API."
          },
          "referrer": {
            "type": "string",
            "description": "The previous page's full URL. Equivalent to `document.referrer` from the DOM API."
          },
          "search": {
            "type": "string",
            "description": "The query string portion of the page's URL. Equivalent to `location.search` from the DOM API."
          },
          "title": {
            "type": "string",
            "description": "The page's title. Equivalent to `document.title` from the DOM API."
          },
          "url": {
            "type": "string",
            "description": "A page's full URL. We first look for the canonical URL. If the canonical URL is not provided, we'll use `location.href` from the DOM API."
          },
          "keywords": {
            "type": "array",
            "description": "A list/array of keywords describing the page's content. The keywords are likely the same as, or similar to, the keywords you would find in an HTML `meta` tag for SEO purposes. This property is mainly used by content publishers that rely heavily on pageview tracking. This isn't automatically collected.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "context_non_mobile": {
        "x-scalar-ignore": true,
        "description": "A dictionary of context about a source call/event, like the user’s IP address or locale. Context is automatically collected by our source libraries.",
        "title": "Non-mobile",
        "allOf": [
          {
            "$ref": "#/components/schemas/context_common"
          },
          {
            "type": "object",
            "properties": {
              "campaign": {
                "type": "object",
                "description": "Contains information about the campaign that resulted in the API call, gathered from, or mapping to, UTM parameters (e.g. `utm_source`).\n",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The campaign name."
                  },
                  "source": {
                    "type": "string",
                    "description": "The source of traffic—like the name of your email list, Facebook, Google, etc."
                  },
                  "medium": {
                    "type": "string",
                    "description": "The type of traffic a person/event originates from, like `email`, or `referral`."
                  },
                  "term": {
                    "type": "string",
                    "description": "The keyword term(s) a user came from."
                  },
                  "content": {
                    "type": "string"
                  }
                },
                "additionalProperties": {
                  "type": "string",
                  "x-additionalPropertiesName": "Additional UTM Parameters"
                }
              },
              "page": {
                "$ref": "#/components/schemas/context_page"
              }
            }
          }
        ]
      },
      "context_mobile": {
        "x-scalar-ignore": true,
        "description": "A dictionary of context about a source call/event, like the user’s IP address or locale. Context is automatically collected by our source libraries.",
        "title": "Mobile",
        "allOf": [
          {
            "$ref": "#/components/schemas/context_common"
          },
          {
            "type": "object",
            "description": "Fields included in events from mobile libraries.",
            "properties": {
              "app": {
                "type": "object",
                "description": "Contains information about the mobile app the event originated from, automatically collected by our mobile libraries when possible.\n",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the app."
                  },
                  "version": {
                    "type": "string",
                    "description": "The version of the app the call originated from."
                  },
                  "build": {
                    "type": "string",
                    "description": "The specific build number in the app."
                  },
                  "namespace": {
                    "type": "string",
                    "description": "The app's namespace."
                  }
                }
              },
              "device": {
                "type": "object",
                "description": "Contains information about the device the event originated from.\n",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The device ID."
                  },
                  "advertisingId": {
                    "type": "string",
                    "description": "The advertising ID is a unique, anonymous ID for advertising."
                  },
                  "manufacturer": {
                    "type": "string",
                    "description": "The device manufacturer."
                  },
                  "model": {
                    "type": "string",
                    "description": "The device model."
                  },
                  "name": {
                    "type": "string",
                    "description": "The device name."
                  },
                  "type": {
                    "type": "string",
                    "description": "The device type—android, iOS, etc.",
                    "enum": [
                      "android",
                      "ios"
                    ]
                  },
                  "version": {
                    "type": "string",
                    "description": "The firmware version for the device."
                  }
                }
              },
              "network": {
                "type": "object",
                "description": "Information about the current network connection, containing `bluetooth`, `carrier`, `cellular`, and `wifi`. If the `context.network.cellular` and `context.network.wifi` fields are empty, then the user is offline.",
                "properties": {
                  "bluetooth": {
                    "type": "boolean",
                    "description": "Lets you know if bluetooth is enabled on a device."
                  },
                  "carrier": {
                    "type": "string",
                    "description": "The cellular carrier the phone uses."
                  },
                  "cellular": {
                    "type": "boolean",
                    "description": "Indicates whether the device's cellular connection is enabled or not."
                  },
                  "wifi": {
                    "type": "boolean",
                    "description": "Indicates whether a device's wifi connection is enabled or not."
                  }
                }
              },
              "os": {
                "type": "object",
                "description": "Dictionary of information about the operating system, containing `name` and `version`.\n",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The operating system running on the device."
                  },
                  "version": {
                    "type": "string",
                    "description": "The version of the OS running on the device."
                  }
                }
              }
            }
          }
        ]
      },
      "batch": {
        "x-scalar-ignore": true,
        "type": "object",
        "properties": {
          "batch": {
            "type": "array",
            "description": "A group of requests you want to send to Data Pipelines in the call.",
            "items": {
              "anyOf": [
                {
                  "title": "Identify",
                  "$ref": "#/components/schemas/identify"
                },
                {
                  "title": "Track",
                  "oneOf": [
                    {
                      "title": "Known User",
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "userId",
                            "event",
                            "type"
                          ],
                          "properties": {
                            "userId": {
                              "$ref": "#/components/schemas/userId"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "track"
                              ],
                              "description": "The event type. This is set automatically by the request method/endpoint."
                            },
                            "event": {
                              "type": "string",
                              "description": "The name of the event",
                              "example": "new_account"
                            },
                            "properties": {
                              "type": "object",
                              "description": "Additional properties for your event.",
                              "additionalProperties": {
                                "x-additionalPropertiesName": "Event Properties",
                                "description": "Additional properties that you want to capture in the event. These can take any JSON shape."
                              }
                            }
                          }
                        }
                      ]
                    },
                    {
                      "title": "Anonymous User",
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "event",
                            "type"
                          ],
                          "properties": {
                            "anonymousId": {
                              "$ref": "#/components/schemas/anonymousId"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "track"
                              ],
                              "description": "The event type. This is set automatically by the request method/endpoint."
                            },
                            "event": {
                              "type": "string",
                              "description": "The name of the event",
                              "example": "new_account"
                            },
                            "properties": {
                              "type": "object",
                              "description": "Additional properties for your event.",
                              "additionalProperties": {
                                "x-additionalPropertiesName": "Event Properties",
                                "description": "Additional properties that you want to capture in the event. These can take any JSON shape."
                              }
                            }
                          }
                        }
                      ]
                    }
                  ]
                },
                {
                  "title": "Page",
                  "oneOf": [
                    {
                      "title": "Known User",
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "userId",
                            "type"
                          ],
                          "properties": {
                            "userId": {
                              "$ref": "#/components/schemas/userId"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "page"
                              ],
                              "description": "The event type. This is set automatically by the request method/endpoint."
                            },
                            "name": {
                              "type": "string",
                              "description": "The name of the page.",
                              "example": "home"
                            },
                            "properties": {
                              "type": "object",
                              "description": "Additional properties for your event.",
                              "properties": {
                                "category": {
                                  "type": "string",
                                  "description": "The category of the page. This might be useful if you have a single page routes or have a flattened URL structure."
                                }
                              },
                              "additionalProperties": {
                                "x-additionalPropertiesName": "Page Properties",
                                "description": "A dictionary of properties about the page."
                              }
                            }
                          }
                        }
                      ]
                    },
                    {
                      "title": "Anonymous User",
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "anonymousId",
                            "type"
                          ],
                          "properties": {
                            "anonymousId": {
                              "$ref": "#/components/schemas/anonymousId"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "page"
                              ],
                              "description": "The event type. This is set automatically by the request method/endpoint."
                            },
                            "name": {
                              "type": "string",
                              "description": "The name of the page.",
                              "example": "home"
                            },
                            "properties": {
                              "type": "object",
                              "description": "Additional properties for your event.",
                              "properties": {
                                "category": {
                                  "type": "string",
                                  "description": "The category of the page. This might be useful if you have a single page routes or have a flattened URL structure."
                                }
                              },
                              "additionalProperties": {
                                "x-additionalPropertiesName": "Page Properties",
                                "description": "A dictionary of properties about the page."
                              }
                            }
                          }
                        }
                      ]
                    }
                  ]
                },
                {
                  "title": "Screen",
                  "oneOf": [
                    {
                      "title": "Known User",
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "userId",
                            "type"
                          ],
                          "properties": {
                            "userId": {
                              "$ref": "#/components/schemas/userId"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "screen"
                              ],
                              "description": "The event type. This is set automatically by the request method/endpoint."
                            },
                            "name": {
                              "type": "string",
                              "description": "The name of the screen the person visited.",
                              "example": "home"
                            },
                            "properties": {
                              "type": "object",
                              "description": "Additional properties for your screen.",
                              "additionalProperties": {
                                "x-additionalPropertiesName": "Screen Properties",
                                "description": "A dictionary of properties about the screen."
                              }
                            }
                          }
                        }
                      ]
                    },
                    {
                      "title": "Anonymous User",
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "anonymousId",
                            "type"
                          ],
                          "properties": {
                            "anonymousId": {
                              "$ref": "#/components/schemas/anonymousId"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "screen"
                              ],
                              "description": "The event type. This is set automatically by the request method/endpoint."
                            },
                            "name": {
                              "type": "string",
                              "description": "The name of the screen the person visited.",
                              "example": "home"
                            },
                            "properties": {
                              "type": "object",
                              "description": "Additional properties for your screen.",
                              "additionalProperties": {
                                "x-additionalPropertiesName": "Screen Properties",
                                "description": "A dictionary of properties about the screen."
                              }
                            }
                          }
                        }
                      ]
                    }
                  ]
                },
                {
                  "title": "Group",
                  "oneOf": [
                    {
                      "title": "Known User",
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "userId",
                            "groupId",
                            "type"
                          ],
                          "properties": {
                            "userId": {
                              "$ref": "#/components/schemas/userId"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "group"
                              ],
                              "description": "The event type. This is set automatically by the request method/endpoint.",
                              "example": "group"
                            },
                            "groupId": {
                              "type": "string",
                              "description": "ID of the group",
                              "example": "0e8c78ea9d97a7b8185e8632"
                            },
                            "traits": {
                              "type": "object",
                              "description": "Additional information about the group.",
                              "additionalProperties": {
                                "x-additionalPropertiesName": "Group Traits",
                                "description": "A dictionary of traits for the group.",
                                "example": {
                                  "name": "Acme",
                                  "industry": "Technology",
                                  "road_runner_accidents": "329,",
                                  "plan": "enterprise,",
                                  "total_billed": 830
                                }
                              }
                            }
                          }
                        }
                      ]
                    },
                    {
                      "title": "Anonymous User",
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "anonymousId",
                            "groupId",
                            "type"
                          ],
                          "properties": {
                            "anonymousId": {
                              "$ref": "#/components/schemas/anonymousId"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "group"
                              ],
                              "description": "The event type. This is set automatically by the request method/endpoint.",
                              "example": "group"
                            },
                            "groupId": {
                              "type": "string",
                              "description": "ID of the group",
                              "example": "0e8c78ea9d97a7b8185e8632"
                            },
                            "traits": {
                              "type": "object",
                              "description": "Additional information about the group.",
                              "additionalProperties": {
                                "x-additionalPropertiesName": "Group Traits",
                                "description": "A dictionary of traits for the group.",
                                "example": {
                                  "name": "Acme",
                                  "industry": "Technology",
                                  "road_runner_accidents": "329,",
[...]
